<!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Navigation Bar Header -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Navigation Bar Brand -->
            <a class="navbar-brand" href="/projects"> BuildersRecords </a>
        </div>
        <!-- Navigation Bar List Items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Send Feedback -->
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <b> Send Feedback </b>
                    </a>
                </li>
                <!-- Help & Support -->
                <li>
                    <a href="#">
                        <b> Help & Support </b>
                    </a>
                </li>
                <!-- Dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <b> {{ username }} </b>
                        <span class="caret"></span>
                    </a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#"> My Account </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ng-click="logOut()"> Log Out </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Grid System -->
<div class="container">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li><a ui-sref="projects">
                        My Projects
                    </a>
                </li>
            </ol>
            <!-- List Group -->
            <ul class="list-group">
                <!-- Dashboard -->
                <a ui-sref="dashboard" class="list-group-item">
                    <span class="glyphicon glyphicon-dashboard glyphicon-padding" aria-hidden="true"></span>
                    Dashboard
                </a>
                <!-- Budgeting -->
                <a ui-sref="budgeting" class="list-group-item active">
                    <span class="glyphicon glyphicon-usd glyphicon-padding" aria-hidden="true"></span>
                    Budgeting
                </a>
                <!-- Funds & Loans -->
                <a ui-sref="funds" class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank glyphicon-padding" aria-hidden="true"></span>
                    Funds & Loans
                </a>
                <!-- Expenditures -->
                <a ui-sref="expenditures" class="list-group-item">
                    <span class="glyphicon glyphicon-shopping-cart glyphicon-padding" aria-hidden="true"></span>
                    Expenditures
                </a>
                <!-- Subcontractors -->
                <a ui-sref="subcontractors" class="list-group-item">
                    <span class="glyphicon glyphicon-link glyphicon-padding" aria-hidden="true"></span>
                    Subcontractors
                </a>
                <!-- Gallery -->
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-picture glyphicon-padding" aria-hidden="true"></span>
                    Gallery
                </a>
            </ul>
        </div>
        <!-- Right Side -->
        <div class="col-md-9">
            <div class="row">
              <!-- Page Header -->
              <div class="page-header">
                  <h1> <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Budgeting </h1>
                  <!-- Sub Header -->
                  <h4 class="text-muted"> Create an organized item cost plan </h4>
              </div>
              <!-- Button - Add a Line Item -->
              <button type="button" class="btn btn-success" ng-click="showAddItemModal()">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  <b> Add </b>
              </button>
              <!-- Button - Delete Expenditure -->
              <button id="delete_button" type="button" class="btn btn-danger" data-placement="right" bs-tooltip
                      title="Delete Selected" ng-class="{ 'disabled': !selected }" ng-click="showDeleteItemsModal()">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                  <b> Delete </b>
              </button>
              <!-- Line Break -->
              <br>
              <br>
                <!-- Table -->
                <table st-table="category_list" class="table table-striped table-bordered">
                      <thead>
                          <tr>
                            <th> </th>
                            <th colspan="6"> Category </th>
                          </tr>
                      </thead>
                      <tbody ng-repeat="category in category_list">
                          <tr>
                              <td>
                                <button ng-if="category.expanded" ng-click="category.expanded = false">-</button>
                                <button ng-if="!category.expanded" ng-click="category.expanded = true">+</button>
                              </td>
                              <td colspan="6" class="text-success"> {{ category.name  }}
                              </td>
                          </tr>
                          <tr ng-if="category.expanded">
                            <th> </th>
                            <th class="text-center"> Item Name </th>
                            <th class="text-center"> Description </th>
                            <th class="text-center"> Estimated Cost </th>
                            <th class="text-center"> Notes </th>
                            <th class="text-center"> Action </th>
                          </tr>
                          <tr ng-if="category.expanded" ng-repeat="item in category.items">
                            <td> <input type="checkbox" class="checkbox"
                                        ng-model="item.selected" ng-click="clickedSingleCheckbox(category, item)">
                            </td>
                            <td> {{ item.name }} </td>
                            <td class="text-left"> {{ item.description }} </td>
                            <td class="text-right"> {{ item.amount| currency }} </td>
                            <td class="text-left"> {{ item.notes }} </td>
                            <td>
                                <a href data-placement="top" bs-tooltip title="Edit" class="text-primary"
                                   ng-click="clickedItem(item) && showEditItemModal()">
                                   <span class="glyphicon glyphicon-pencil glyphicon-padding" aria-hidden="true"></span>
                                </a>
                                <a href data-placement="top" bs-tooltip title="Delete" class="text-danger"
                                   ng-click="clickedItem(item) && showSingleDeleteItemModal()">
                                   <span class="glyphicon glyphicon-trash glyphicon-padding" aria-hidden="true"></span>
                                </a>
                            </td>
                          </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Line Item -->
<div class="container">
    <div class="modal fade" id="add_item_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Add a Line Item </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="add_item_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                      <!-- Category Field -->
                      <div class="form-group"
                           ng-class="{ 'has-error': add_item_form.category.$dirty &&
                                                    add_item_form.category.$invalid ||
                                                    add_item_form.$submitted &&
                                                    add_item_form.category.$invalid,
                                       'has-feedback': add_item_form.category.$dirty &&
                                                       add_item_form.category.$invalid ||
                                                       add_item_form.$submitted &&
                                                       add_item_form.category.$invalid }">
                          <label class="control-label" for="category"> Category * </label>
                          <select class="form-control"
                                  name="category"
                                  ng-model="item.category"
                                  required>
                              <option value="" disabled selected> Select a category </option>
                              <option ng-repeat="category in category_list" value="{{ category.id }}">
                                  {{ category.name }}
                              </option>
                              <option  value="other">Create New Category</option>
                          </select>
                          <span class="glyphicon glyphicon-remove form-control-feedback"
                                ng-if="add_item_form.category.$dirty &&
                                       add_item_form.category.$invalid ||
                                       add_item_form.$submitted &&
                                       add_item_form.category.$invalid">
                          </span>
                          <div ng-messages="add_item_form.category.$error"
                               ng-if="add_item_form.category.$dirty &&
                                      add_item_form.category.$invalid ||
                                      add_item_form.$submitted &&
                                      add_item_form.category.$invalid">
                              <div ng-message="required"
                                   class="help-block"> This field is required. </div>
                          </div>
                      </div>
                        <!-- Item Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_item_form.name.$dirty &&
                                                      add_item_form.name.$invalid ||
                                                      add_item_form.$submitted &&
                                                      add_item_form.name.$invalid,
                                         'has-feedback': add_item_form.name.$dirty &&
                                                         add_item_form.name.$invalid ||
                                                         add_item_form.$submitted &&
                                                         add_item_form.name.$invalid }">
                            <label class="control-label" for="name"> Item Name * </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Name"
                                   ng-model="item.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_item_form.name.$dirty &&
                                         add_item_form.name.$invalid ||
                                         add_item_form.$submitted &&
                                         add_item_form.name.$invalid">
                            </span>
                            <div ng-messages="add_item_form.name.$error"
                                 ng-if="add_item_form.name.$dirty &&
                                        add_item_form.name.$invalid ||
                                        add_item_form.$submitted &&
                                        add_item_form.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Description Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_item_form.description.$dirty &&
                                                      add_item_form.description.$invalid ||
                                                      add_item_form.$submitted &&
                                                      add_item_form.description.$invalid,
                                         'has-feedback': add_item_form.description.$dirty &&
                                                         add_item_form.description.$invalid ||
                                                         add_item_form.$submitted &&
                                                         add_item_form.description.$invalid }">
                            <label class="control-label" for="description"> Description * </label>
                            <input class="form-control"
                                   name="description"
                                   type="text"
                                   placeholder="Description"
                                   ng-model="item.description"
                                   required
                                   ng-maxlength=80>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_item_form.description.$dirty &&
                                         add_item_form.description.$invalid ||
                                         add_item_form.$submitted &&
                                         add_item_form.description.$invalid">
                            </span>
                            <div ng-messages="add_item_form.description.$error"
                                 ng-if="add_item_form.description.$dirty &&
                                        add_item_form.description.$invalid ||
                                        add_item_form.$submitted &&
                                        add_item_form.description.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 80 characters. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_item_form.amount.$dirty &&
                                                      add_item_form.amount.$invalid ||
                                                      add_item_form.$submitted &&
                                                      add_item_form.amount.$invalid,
                                         'has-feedback': add_item_form.amount.$dirty &&
                                                         add_item_form.amount.$invalid ||
                                                         add_item_form.$submitted &&
                                                         add_item_form.amount.$invalid }">
                            <label class="control-label" for="amount"> Estimated Cost * </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="number"
                                       placeholder="Estimated Cost"
                                       ng-model="item.amount"
                                       required
                                       ng-maxlength=12>
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_item_form.amount.$dirty &&
                                         add_item_form.amount.$invalid ||
                                         add_item_form.$submitted &&
                                         add_item_form.amount.$invalid">
                            </span>
                            <div ng-messages="add_item_form.amount.$error"
                                 ng-if="add_item_form.amount.$dirty &&
                                        add_item_form.amount.$invalid ||
                                        add_item_form.$submitted &&
                                        add_item_form.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                        <!-- Notes Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_item_form.notes.$dirty &&
                                                      add_item_form.notes.$invalid ||
                                                      add_item_form.$submitted &&
                                                      add_item_form.notes.$invalid,
                                         'has-feedback': add_item_form.notes.$dirty &&
                                                         add_item_form.notes.$invalid ||
                                                         add_item_form.$submitted &&
                                                         add_item_form.notes.$invalid }">
                            <label class="control-label" for="notes"> Notes </label>
                            <input class="form-control"
                                   name="notes"
                                   type="text"
                                   placeholder="Notes (Optional)"
                                   ng-model="item.notes"
                                   ng-maxlength=80>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_item_form.notes.$dirty &&
                                         add_item_form.notes.$invalid ||
                                         add_item_form.$submitted &&
                                         add_item_form.notes.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.notes.$error"
                                 ng-if="add_item_form.notes.$dirty &&
                                        add_item_form.notes.$invalid ||
                                        add_item_form.$submitted &&
                                        add_item_form.notes.$invalid">
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 80 characters. </div>
                            </div>
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-success"
                                ng-click="add_item_form.$valid && addItem()">
                            <b> Add a Line Item </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Delete Items -->
<div class="container">
    <div class="modal fade" id="delete_items_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Item(s) </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="error_msg_delete">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> {{ error_msg_delete }} </b>
                    </div>
                    <p class="text-center">
                        Are you sure you would like to <b> delete </b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteItems()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Delete Single Expenditure -->
<div class="container">
    <div class="modal fade" id="delete_single_item_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Item </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="error_msg_delete_single">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> {{ error_msg_delete_single }} </b>
                    </div>
                    <p class="text-center">
                        Are you sure you would like to <b> delete </b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteSingleItem()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
