<!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Navigation Bar Header -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Navigation Bar Brand -->
            <a class="navbar-brand" href="/projects"> BuildersRecords </a>
        </div>
        <!-- Navigation Bar List Items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Send Feedback -->
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <b> Send Feedback </b>
                    </a>
                </li>
                <!-- Help & Support -->
                <li>
                    <a href="#">
                        <b> Help & Support </b>
                    </a>
                </li>
                <!-- Dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <b> {{ username }} </b>
                        <span class="caret"></span>
                    </a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#"> My Account </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ng-click="logOut()"> Log Out </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Grid System -->
<div class="container">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li><a href="/projects">
                        <span class="glyphicon glyphicon-arrow-left glyphicon-padding" aria-hidden="true"></span>
                        Back to My Projects
                    </a>
                </li>
            </ol>
            <!-- List Group -->
            <ul class="list-group">
                <!-- Dashboard -->
                <a href="/dashboard" class="list-group-item">
                    <span class="glyphicon glyphicon-dashboard glyphicon-padding" aria-hidden="true"></span>
                    Dashboard
                </a>
                <!-- Budgeting -->
                <a href="/budgeting" class="list-group-item">
                    <span class="glyphicon glyphicon-usd glyphicon-padding" aria-hidden="true"></span>
                    Budgeting
                </a>
                <!-- Expenditures -->
                <a href="/expenditures" class="list-group-item">
                    <span class="glyphicon glyphicon-shopping-cart glyphicon-padding" aria-hidden="true"></span>
                    Expenditures
                </a>
                <!-- Contractors -->
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-link glyphicon-padding" aria-hidden="true"></span>
                    Contractors
                </a>
                <!-- Funds & Loans -->
                <a href="/funds" class="list-group-item active">
                    <span class="glyphicon glyphicon-piggy-bank glyphicon-padding" aria-hidden="true"></span>
                    Funds & Loans
                </a>
                <!-- Statistics -->
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-stats glyphicon-padding" aria-hidden="true"></span>
                    Statistics
                </a>
                <!-- Gallery -->
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-picture glyphicon-padding" aria-hidden="true"></span>
                    Gallery
                </a>
            </ul>
        </div>
        <!-- Right Side -->
        <div class="col-md-9">
            <div class="row">
                <!-- Alert -->
                <div class="alert alert-danger alert-dismissible text-center" role="alert"
                     ng-if="error_msg">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only"> Error: </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button> <b> {{ error_msg }} </b>
                </div>
                <!-- Page Header -->
                <div class="page-header">
                    <h1> <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Funds & Loans </h1>
                    <!-- Sub Header -->
                    <h4 class="text-muted"> Track all of your funds and loans here </h4>
                </div>
                <!-- Button - Add Fund -->
                <button type="button" class="btn btn-success" ng-click="showAddFundModal()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <b> Add </b>
                </button>
                <!-- Line Breaks -->
                <br>
                <br>
                <!-- Collapse -->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- Panel - Out of Pocket -->
                    <div class="panel panel-default">
                        <!-- Panel Heading -->
                        <div class="panel-heading" role="tab" id="out-of-project">
                            <div class="row">
                                <!-- Left Side -->
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                    <!-- Panel Title -->
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" class="glyphicon-padding"
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b> Out of Pocket </b>
                                        </a>
                                        <span class="text-success"> +$30,000 </span>
                                    </h4>
                                </div>
                                <!-- Right Side -->
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="text-right">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <!-- Panel Body -->
                            <div class="panel-body">
                                <h4> My Spending </h4>
                                <p class="text-muted"> 0 </p>
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only"> 40% Complete (success) </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Panel - Loans -->
                    <div ng-repeat="fund in fund_list" class="panel panel-default">
                        <!-- Panel Heading -->
                        <div class="panel-heading" role="tab" id="{{ fund.id }}">
                            <!-- Panel Title -->
                            <h4 class="panel-title">
                                <div class="row">
                                    <!-- Left Side -->
                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                        <!-- Panel Title -->
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" class="glyphicon-padding"
                                               href="#fund{{ fund.id }}" aria-expanded="true" aria-controls="{{ fund.id }}">
                                                <b> {{ fund.name }} </b>
                                            </a>
                                            <span class="text-success"> +{{ fund.amount | currency }} </span>
                                        </h4>
                                    </div>
                                    <!-- Right Side -->
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="text-right">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div id="fund{{ fund.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ fund.id }}">
                            <!-- Panel Body -->
                            <div class="panel-body">
                                <h4> My Spending </h4>
                                <p class="text-muted"> 0 </p>
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only"> 40% Complete (success) </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Fund -->
<div class="container">
    <div class="modal fade" id="add_fund_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Add a Fund or Loan </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="add_fund_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="add_fund_form.$invalid && add_fund_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems adding your fund/loan. </b>
                        </div>
                        <!-- Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_fund_form.name.$dirty &&
                                                      add_fund_form.name.$invalid ||
                                                      add_fund_form.$submitted &&
                                                      add_fund_form.name.$invalid,
                                         'has-feedback': add_fund_form.name.$dirty &&
                                                         add_fund_form.name.$invalid ||
                                                         add_fund_form.$submitted &&
                                                         add_fund_form.name.$invalid }">
                            <label class="control-label" for="name"> Fund/Loan Name * </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Fund/Loan Name"
                                   ng-model="name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_fund_form.name.$dirty &&
                                         add_fund_form.name.$invalid ||
                                         add_fund_form.$submitted &&
                                         add_fund_form.name.$invalid">
                            </span>
                            <div ng-messages="add_fund_form.name.$error"
                                 ng-if="add_fund_form.name.$dirty &&
                                        add_fund_form.name.$invalid ||
                                        add_fund_form.$submitted &&
                                        add_fund_form.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_fund_form.amount.$dirty &&
                                                      add_fund_form.amount.$invalid ||
                                                      add_fund_form.$submitted &&
                                                      add_fund_form.amount.$invalid,
                                         'has-feedback': add_fund_form.amount.$dirty &&
                                                         add_fund_form.amount.$invalid ||
                                                         add_fund_form.$submitted &&
                                                         add_fund_form.amount.$invalid }">
                            <label class="control-label" for="amount"> Amount * </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="number"
                                       placeholder="Amount"
                                       ng-model="amount"
                                       required
                                       ng-maxlength=11>
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_fund_form.amount.$dirty &&
                                         add_fund_form.amount.$invalid ||
                                         add_fund_form.$submitted &&
                                         add_fund_form.amount.$invalid">
                            </span>
                            <div ng-messages="add_fund_form.amount.$error"
                                 ng-if="add_fund_form.amount.$dirty &&
                                        add_fund_form.amount.$invalid ||
                                        add_fund_form.$submitted &&
                                        add_fund_form.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 11 digits. </div>
                            </div>
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-success"
                                ng-click="add_fund_form.$valid && addFund()">
                            <b> Add Fund/Loan </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
