<!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Navigation Bar Header -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Navigation Bar Brand -->
            <a class="navbar-brand" ui-sref="projects"> BuildersRecords </a>
        </div>
        <!-- Navigation Bar List Items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Send Feedback -->
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <b> Send Feedback </b>
                    </a>
                </li>
                <!-- Help & Support -->
                <li>
                    <a href="#">
                        <b> Help & Support </b>
                    </a>
                </li>
                <!-- Dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <b> {{ username }} </b>
                        <span class="caret"></span>
                    </a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#"> My Account </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ng-click="logOut()"> Log Out </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Grid System -->
<div class="container">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-3 col-lg-3">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li><a ui-sref="projects">
                        My Projects
                    </a>
                </li>
            </ol>
            <!-- List Group -->
            <ul class="list-group">
                <!-- Dashboard -->
                <a ui-sref="dashboard" class="list-group-item">
                    <span class="glyphicon glyphicon-dashboard glyphicon-padding" aria-hidden="true"></span>
                    Dashboard
                </a>
                <!-- Budgeting -->
                <a ui-sref="budgeting" class="list-group-item">
                    <span class="glyphicon glyphicon-usd glyphicon-padding" aria-hidden="true"></span>
                    Budgeting
                </a>
                <!-- Funds & Loans -->
                <a ui-sref="funds" class="list-group-item active">
                    <span class="glyphicon glyphicon-piggy-bank glyphicon-padding" aria-hidden="true"></span>
                    Funds & Loans
                </a>
                <!-- Expenditures -->
                <a ui-sref="expenditures" class="list-group-item">
                    <span class="glyphicon glyphicon-shopping-cart glyphicon-padding" aria-hidden="true"></span>
                    Expenditures
                </a>
                <!-- Contractors -->
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-link glyphicon-padding" aria-hidden="true"></span>
                    Contractors
                </a>
                <!-- Gallery -->
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-picture glyphicon-padding" aria-hidden="true"></span>
                    Gallery
                </a>
            </ul>
        </div>
        <!-- Right Side -->
        <div class="col-md-9 col-lg-9">
            <!-- Alert -->
            <div class="alert alert-danger alert-dismissible text-center" role="alert"
                 ng-if="error_msg">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"> Error: </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"> &times; </span>
                </button> <b> {{ error_msg }} </b>
            </div>
            <!-- Page Header -->
            <div class="page-header">
                <h1> <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Funds & Loans </h1>
                <!-- Sub Header -->
                <h4 class="text-muted"> Track all of your funds and loans here </h4>
            </div>
            <!-- Button - Add Fund -->
            <button type="button" class="btn btn-success" data-placement="right" bs-tooltip
                    title="Add a Fund/Loan" ng-click="showAddFundModal()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <b> Add </b>
            </button>
            <!-- Line Breaks -->
            <br>
            <br>
            <!-- Collapse -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- Panel - Loans -->
                <div ng-repeat="fund in fund_list" class="panel panel-default">
                    <!-- Panel Heading -->
                    <div class="panel-heading" role="tab" id="fund_{{ fund.id }}">
                        <div class="row">
                            <!-- Left Side -->
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <!-- Panel Title -->
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" class="glyphicon-padding"
                                       href="#{{ fund_list.indexOf(fund) + 1 }}" aria-expanded="true" aria-controls="fund_{{ fund.id }}">
                                        <b> {{ fund.name }} </b>
                                    </a>
                                </h4>
                                <h5 class="text-success" ng-model="fund.amount"> {{ fund.amount | currency }} </h5>
                            </div>
                            <!-- Right Side -->
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="text-right">
                                    <!-- Button - Delete Fund -->
                                    <button type="button" class="btn btn-danger" data-placement="left" bs-tooltip
                                            title="Delete" ng-click="clickedFund(fund) && showDeleteFundModal()">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                    <!-- Button - Edit Fund -->
                                    <button type="button" class="btn btn-primary" data-placement="right" bs-tooltip
                                            title="Edit" ng-click="clickedFund(fund) && showEditFundModal()">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Panel Body -->
                    <div id="{{ fund_list.indexOf(fund) + 1 }}" class="panel-collapse collapse in"
                         role="tabpanel" aria-labelledby="fund_{{ fund.id }}">
                        <div class="panel-body">
                            <div ng-if="fund.loan == 0">
                                <h4> This is not a loan </h4>
                            </div>
                            <div ng-if="fund.loan">
                                <!-- Button - Add Draw -->
                                <button type="button" class="btn btn-success" ng-click="clickedFund(fund) && showAddDrawModal()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <b> Add a Draw </b>
                                </button>
                                <!-- Button - Delete Draws -->
                                <button type="button" class="btn btn-danger" data-placement="right" bs-tooltip
                                        title="Delete Selected" ng-model="fund.selected"
                                        ng-class="{ 'disabled': !fund.selected }" ng-click="clickedFund(fund) && showDeleteDrawsModal()">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                    <b> Delete </b>
                                </button>
                                <!-- Line Breaks -->
                                <br>
                                <br>
                                <!-- Table -->
                                <table st-table="fund.draws" class="table table-striped table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th> <input type="checkbox" class="checkbox" ng-model="fund.checkboxAll"
                                                        ng-click="clickedFund(fund) && clickedAllCheckbox()"> </th>
                                            <th class="text-center"> Action </th>
                                            <th class="text-center"> Draw </th>
                                            <th class="text-center"> Date </th>
                                            <th class="text-center"> Amount </th>
                                        <tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="draw in fund.draws">
                                            <td><input type="checkbox" class="checkbox" ng-model="draw.selected"
                                                       ng-click="clickedFund(fund) && clickedSingleCheckbox(draw)"></td>
                                            <td class="text-center">
                                                <a href data-placement="top" bs-tooltip title="Edit"
                                                   ng-click="clickedFund(fund) && clickedDraw(draw) && showEditDrawModal()">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                            <td class="text-center" ng-model="draw.index"> #{{ fund.draws.indexOf(draw) + 1 }} </td>
                                            <td class="text-center" ng-model="draw.date"> {{ draw.date | date: 'MM/dd/yyyy' }} </td>
                                            <td class="text-right" ng-model="draw.amount"> {{ draw.amount | currency }} </td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-if="fund.draws.length != 0">
                                        <tr>
                                            <td colspan="3"></td>
                                            <td class="text-right"> <b> Total Draw Amount </b> </td>
                                            <td class="text-right text-danger" ng-model="fund.total_draw"> <b> {{ fund.total_draw | currency }} </b> </td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-if="fund.draws.length != 0">
                                        <tr>
                                            <td colspan="3"></td>
                                            <td class="text-right"> <b> Total Fund/Loan Amount </b> </td>
                                            <td class="text-right text-success"> <b> {{ fund.amount | currency }} </b> </td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-if="fund.draws.length != 0">
                                        <tr>
                                            <td colspan="3"></td>
                                            <td class="text-right"> <b> Amount Left </b> </td>
                                            <td class="text-right"> <b> {{ fund.amount - fund.total_draw | currency }} </b> </td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-if="fund.draws.length == 0">
                                        <tr>
                                            <td></td>
                                            <td colspan="4"> You have not made any draws yet. </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="fund_list.length == 0">
                    <h4> Get started by adding your out of pocket funds or loans. </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END -->

<!-- MODALS -->
<!-- Modal - Add Fund -->
<div class="container">
    <div class="modal fade" id="add_fund_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Add a Fund or Loan </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="add_fund_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="add_fund_form.$invalid && add_fund_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems adding your fund/loan. </b>
                        </div>
                        <!-- Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_fund_form.name.$dirty &&
                                                      add_fund_form.name.$invalid ||
                                                      add_fund_form.$submitted &&
                                                      add_fund_form.name.$invalid,
                                         'has-feedback': add_fund_form.name.$dirty &&
                                                         add_fund_form.name.$invalid ||
                                                         add_fund_form.$submitted &&
                                                         add_fund_form.name.$invalid }">
                            <label class="control-label" for="name"> Fund/Loan Name * </label>
                            <p class="text-warning"> For out of pocket money or savings funds, type "Savings" or "Out of Pocket" </p>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Fund/Loan Name"
                                   ng-model="fund.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_fund_form.name.$dirty &&
                                         add_fund_form.name.$invalid ||
                                         add_fund_form.$submitted &&
                                         add_fund_form.name.$invalid">
                            </span>
                            <div ng-messages="add_fund_form.name.$error"
                                 ng-if="add_fund_form.name.$dirty &&
                                        add_fund_form.name.$invalid ||
                                        add_fund_form.$submitted &&
                                        add_fund_form.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Fund Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_fund_form.loan.$dirty &&
                                                      add_fund_form.loan.$invalid ||
                                                      add_fund_form.$submitted &&
                                                      add_fund_form.loan.$invalid,
                                         'has-feedback': add_fund_form.loan.$dirty &&
                                                         add_fund_form.loan.$invalid ||
                                                         add_fund_form.$submitted &&
                                                         add_fund_form.loan.$invalid }">
                            <label class="control-label" for="loan"> Is this a loan? * </label>
                            <p class="text-warning"> For out of pocket money or savings funds, select "No" </p>
                            <select class="form-control"
                                    name="loan"
                                    ng-model="fund.loan"
                                    required>
                                <option value="" disabled selected> Select your option </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_fund_form.loan.$dirty &&
                                         add_fund_form.loan.$invalid ||
                                         add_fund_form.$submitted &&
                                         add_fund_form.loan.$invalid">
                            </span>
                            <div ng-messages="add_fund_form.loan.$error"
                                 ng-if="add_fund_form.loan.$dirty &&
                                        add_fund_form.loan.$invalid ||
                                        add_fund_form.$submitted &&
                                        add_fund_form.loan.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_fund_form.amount.$dirty &&
                                                      add_fund_form.amount.$invalid ||
                                                      add_fund_form.$submitted &&
                                                      add_fund_form.amount.$invalid,
                                         'has-feedback': add_fund_form.amount.$dirty &&
                                                         add_fund_form.amount.$invalid ||
                                                         add_fund_form.$submitted &&
                                                         add_fund_form.amount.$invalid }">
                            <label class="control-label" for="amount"> Total Amount of Fund/Loan * </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="fund.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_fund_form.amount.$dirty &&
                                         add_fund_form.amount.$invalid ||
                                         add_fund_form.$submitted &&
                                         add_fund_form.amount.$invalid">
                            </span>
                            <div ng-messages="add_fund_form.amount.$error"
                                 ng-if="add_fund_form.amount.$dirty &&
                                        add_fund_form.amount.$invalid ||
                                        add_fund_form.$submitted &&
                                        add_fund_form.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-success"
                                ng-click="add_fund_form.$valid && addFund()">
                            <b> Add Fund/Loan </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Fund -->
<div class="container">
    <div class="modal fade" id="delete_fund_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Fund/Loan </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="error_msg_delete">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> {{ error_msg_delete }} </b>
                    </div>
                    <p class="text-center">
                        Are you sure you would like to <b>delete</b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteFundAndDraws()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Edit Fund -->
<div class="container">
    <div class="modal fade" id="edit_fund_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Edit Fund or Loan </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="edit_fund_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="edit_fund_form.$invalid && edit_fund_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems updating your fund/loan. </b>
                        </div>
                        <!-- Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_fund_form.name.$dirty &&
                                                      edit_fund_form.name.$invalid ||
                                                      edit_fund_form.$submitted &&
                                                      edit_fund_form.name.$invalid,
                                         'has-feedback': edit_fund_form.name.$dirty &&
                                                         edit_fund_form.name.$invalid ||
                                                         edit_fund_form.$submitted &&
                                                         edit_fund_form.name.$invalid }">
                            <label class="control-label" for="name"> Fund/Loan Name * </label>
                            <p class="text-warning"> For out of pocket money or savings funds, type "Savings" or "Out of Pocket" </p>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Fund/Loan Name"
                                   ng-model="updated_fund.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_fund_form.name.$dirty &&
                                         edit_fund_form.name.$invalid ||
                                         edit_fund_form.$submitted &&
                                         edit_fund_form.name.$invalid">
                            </span>
                            <div ng-messages="edit_fund_form.name.$error"
                                 ng-if="edit_fund_form.name.$dirty &&
                                        edit_fund_form.name.$invalid ||
                                        edit_fund_form.$submitted &&
                                        edit_fund_form.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Fund Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_fund_form.loan.$dirty &&
                                                      edit_fund_form.loan.$invalid ||
                                                      edit_fund_form.$submitted &&
                                                      edit_fund_form.loan.$invalid,
                                         'has-feedback': edit_fund_form.loan.$dirty &&
                                                         edit_fund_form.loan.$invalid ||
                                                         edit_fund_form.$submitted &&
                                                         edit_fund_form.loan.$invalid }">
                            <label class="control-label" for="loan"> Is this a loan? * </label>
                            <p class="text-warning"> For out of pocket money or savings funds, select "No" </p>
                            <select class="form-control"
                                    name="loan"
                                    ng-model="updated_fund.loan"
                                    required>
                                <option value="" disabled selected> Select your option </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_fund_form.loan.$dirty &&
                                         edit_fund_form.loan.$invalid ||
                                         edit_fund_form.$submitted &&
                                         edit_fund_form.loan.$invalid">
                            </span>
                            <div ng-messages="edit_fund_form.loan.$error"
                                 ng-if="edit_fund_form.loan.$dirty &&
                                        edit_fund_form.loan.$invalid ||
                                        edit_fund_form.$submitted &&
                                        edit_fund_form.loan.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_fund_form.amount.$dirty &&
                                                      edit_fund_form.amount.$invalid ||
                                                      edit_fund_form.$submitted &&
                                                      edit_fund_form.amount.$invalid,
                                         'has-feedback': edit_fund_form.amount.$dirty &&
                                                         edit_fund_form.amount.$invalid ||
                                                         edit_fund_form.$submitted &&
                                                         edit_fund_form.amount.$invalid }">
                            <label class="control-label" for="amount"> Total Amount of Fund/Loan * </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="updated_fund.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_fund_form.amount.$dirty &&
                                         edit_fund_form.amount.$invalid ||
                                         edit_fund_form.$submitted &&
                                         edit_fund_form.amount.$invalid">
                            </span>
                            <div ng-messages="edit_fund_form.amount.$error"
                                 ng-if="edit_fund_form.amount.$dirty &&
                                        edit_fund_form.amount.$invalid ||
                                        edit_fund_form.$submitted &&
                                        edit_fund_form.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-primary"
                                ng-click="edit_fund_form.$valid && updateFund()">
                            <b> Update Fund/Loan </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Add Draw -->
<div class="container">
    <div class="modal fade" id="add_draw_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Add a Draw </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="add_draw_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="add_draw_form.$invalid && add_draw_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems adding your loan draw. </b>
                        </div>
                        <!-- Date Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_draw_form.date.$dirty &&
                                                      add_draw_form.date.$invalid ||
                                                      add_draw_form.$submitted &&
                                                      add_draw_form.date.$invalid,
                                         'has-feedback': add_draw_form.date.$dirty &&
                                                         add_draw_form.date.$invalid ||
                                                         add_draw_form.$submitted &&
                                                         add_draw_form.date.$invalid }">
                            <label class="control-label" for="date">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                Date of Draw *
                            </label>
                            <input class="form-control"
                                   name="date"
                                   type="date"
                                   placeholder="Date"
                                   ng-model="draw.date"
                                   required>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_draw_form.date.$dirty &&
                                         add_draw_form.date.$invalid ||
                                         add_draw_form.$submitted &&
                                         add_draw_form.date.$invalid">
                            </span>
                            <div ng-messages="add_draw_form.date.$error"
                                 ng-if="add_draw_form.date.$dirty &&
                                        add_draw_form.date.$invalid ||
                                        add_draw_form.$submitted &&
                                        add_draw_form.date.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_draw_form.amount.$dirty &&
                                                      add_draw_form.amount.$invalid ||
                                                      add_draw_form.$submitted &&
                                                      add_draw_form.amount.$invalid,
                                         'has-feedback': add_draw_form.amount.$dirty &&
                                                         add_draw_form.amount.$invalid ||
                                                         add_draw_form.$submitted &&
                                                         add_draw_form.amount.$invalid }">
                            <label class="control-label" for="amount"> Amount * </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="draw.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_draw_form.amount.$dirty &&
                                         add_draw_form.amount.$invalid ||
                                         add_draw_form.$submitted &&
                                         add_draw_form.amount.$invalid">
                            </span>
                            <div ng-messages="add_draw_form.amount.$error"
                                 ng-if="add_draw_form.amount.$dirty &&
                                        add_draw_form.amount.$invalid ||
                                        add_draw_form.$submitted &&
                                        add_draw_form.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-success"
                                ng-click="add_draw_form.$valid && addDraw()">
                            <b> Add Draw </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Draws -->
<div class="container">
    <div class="modal fade" id="delete_draws_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Draw(s) </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="error_msg_delete">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> {{ error_msg_delete_draws }} </b>
                    </div>
                    <p class="text-center">
                        Are you sure you would like to <b>delete</b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteDraws()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Edit Draw -->
<div class="container">
    <div class="modal fade" id="edit_draw_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Edit a Draw </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="edit_draw_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="edit_draw_form.$invalid && edit_draw_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems updating your loan draw. </b>
                        </div>
                        <!-- Date Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_draw_form.date.$dirty &&
                                                      edit_draw_form.date.$invalid ||
                                                      edit_draw_form.$submitted &&
                                                      edit_draw_form.date.$invalid,
                                         'has-feedback': edit_draw_form.date.$dirty &&
                                                         edit_draw_form.date.$invalid ||
                                                         edit_draw_form.$submitted &&
                                                         edit_draw_form.date.$invalid }">
                            <label class="control-label" for="date">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                Date of Draw *
                            </label>
                            <input class="form-control"
                                   name="date"
                                   type="date"
                                   placeholder="Date"
                                   ng-model="updated_draw.date"
                                   required>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_draw_form.date.$dirty &&
                                         edit_draw_form.date.$invalid ||
                                         edit_draw_form.$submitted &&
                                         edit_draw_form.date.$invalid">
                            </span>
                            <div ng-messages="edit_draw_form.date.$error"
                                 ng-if="edit_draw_form.date.$dirty &&
                                        edit_draw_form.date.$invalid ||
                                        edit_draw_form.$submitted &&
                                        edit_draw_form.date.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_draw_form.amount.$dirty &&
                                                      edit_draw_form.amount.$invalid ||
                                                      edit_draw_form.$submitted &&
                                                      edit_draw_form.amount.$invalid,
                                         'has-feedback': edit_draw_form.amount.$dirty &&
                                                         edit_draw_form.amount.$invalid ||
                                                         edit_draw_form.$submitted &&
                                                         edit_draw_form.amount.$invalid }">
                            <label class="control-label" for="amount"> Amount * </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="updated_draw.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_draw_form.amount.$dirty &&
                                         edit_draw_form.amount.$invalid ||
                                         edit_draw_form.$submitted &&
                                         edit_draw_form.amount.$invalid">
                            </span>
                            <div ng-messages="edit_draw_form.amount.$error"
                                 ng-if="edit_draw_form.amount.$dirty &&
                                        edit_draw_form.amount.$invalid ||
                                        edit_draw_form.$submitted &&
                                        edit_draw_form.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-primary"
                                ng-click="edit_draw_form.$valid && updateDraw()">
                            <b> Update Draw </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
