<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body ng-app="myapp">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Navigation Bar Header -->
          <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                      data-target=".navbar-collapse">
                  <span class="sr-only"> Toggle navigation </span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <!-- Navigation Bar Brand -->
              <a class="navbar-brand" href="/#/"> BuildersRecords </a>
          </div>
          <!-- Navigation Bar List Items -->
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li style="padding-left: 0.75em;">
                      <button id="signup_button" type="button" class="btn btn-success navbar-btn active"
                              style="width: 6em">
                          <b> Sign Up </b>
                      </button>
                  </li>
                  <li style="padding-left: 0.75em;">
                      <button id="login_button" type="button" class="btn btn-info navbar-btn"
                              style="width: 6em">
                          <b> Log In </b>
                      </button>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- Page Header -->
  <div class="container">
      <div class="page-header text-center">
          <h2> Enter your name </h2>
          <p class="text-muted"> <b> Only Characters! </b>
            <font color="red"> <br> Please </br> </font>
          </p>
      </div>
  </div>
  <!-- Form  -->
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <div class="well">
                <form name="signup_form" novalidate ng-submit="submitForm()">
                  <label class="control-label" for="firstNAME">
                    Your First Credentials
                  </label>
                  <input type="text" name="firstNameTB" placeholder="First Name" class="form-control" required="true" ng-maxlength="25" ng-model="eimadForm.FirstName"/>
                  <label class="control-label" for="lastNAme"> Your Last Credentials </label>
                  <input type="text" name="lastNameTB" placeholder="Last Name" class="form-control" required="true" ng-maxlength="35" ng-model="eimadForm.LastName"/>
                  <button name="submitButton" class="btn btn-success navbar-btn active" style="width: 6em">
                    <b>Submit</b>
                    <!-- how do i tell it to look at the CSS class buttonSpacer from theme.css -->
                    <div class="buttonSpacer">
                        <!-- MA: this will look at the CSS class buttonSpacer, using the 'class' attribute -->
                    </div>
                  </button>
                  <button name="resetButton" class="btn btn-info navbar-btn" style="width: 6em">
                    <b>Reset</B>
                  </button>
              </div>
        </div>
    </div>
</div>


<script>
    angular.module("myapp", [])
            .controller("MyController", function($scope)
            {
                $scope.myForm = {};
                $scope.myForm.firstName = "Eimad";
                $scope.myForm.lastName  = "Zamrik";
            } );
</script>

</body>
</html>
