<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
      {% block head %}
        <!-- Bootstrap Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Description | Author -->
        <meta name="description" content="Flask-AngularJS">
        <meta name="author" content="Miguel Angulo">
        <!-- Title -->
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon -->
        <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
        <!-- CSS Styles -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- JS Scripts -->
        <script src="{{ url_for('static', filename='js/ext/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ext/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ext/angular.min.js') }}"></script>
      {% endblock %}
    </head>
      {% block body %}
        {% block scripts %}{% endblock %}
      {% endblock %}
</html>
