<!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Navigation Bar Header -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Navigation Bar Brand -->
            <a class="navbar-brand" ui-sref="projects"> BuildersRecords </a>
        </div>
        <!-- Navigation Bar List Items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Send Feedback -->
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <b> Send Feedback </b>
                    </a>
                </li>
                <!-- Help & Support -->
                <li>
                    <a href="#">
                        <b> Help & Support </b>
                    </a>
                </li>
                <!-- Dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <b> {{ username }} </b>
                        <span class="caret"></span>
                    </a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#"> My Account </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ng-click="logOut()"> Log Out </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Grid System -->
<div class="container">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-3 col-lg-3">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li><a ui-sref="projects">
                        My Projects
                    </a>
                </li>
            </ol>
            <!-- List Group -->
            <ul class="list-group">
                <!-- Dashboard -->
                <a ui-sref="dashboard" class="list-group-item">
                    <span class="glyphicon glyphicon-dashboard glyphicon-padding" aria-hidden="true"></span>
                    Dashboard
                </a>
                <!-- Budgeting -->
                <a ui-sref="budgeting" class="list-group-item">
                    <span class="glyphicon glyphicon-usd glyphicon-padding" aria-hidden="true"></span>
                    Budgeting
                </a>
                <!-- Funds & Loans -->
                <a ui-sref="funds" class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank glyphicon-padding" aria-hidden="true"></span>
                    Funds & Loans
                </a>
                <!-- Expenditures -->
                <a ui-sref="expenditures" class="list-group-item active">
                    <span class="glyphicon glyphicon-shopping-cart glyphicon-padding" aria-hidden="true"></span>
                    Expenditures
                </a>
                <!-- Contractors -->
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-link glyphicon-padding" aria-hidden="true"></span>
                    Contractors
                </a>
                <!-- Gallery -->
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-picture glyphicon-padding" aria-hidden="true"></span>
                    Gallery
                </a>
            </ul>
        </div>
        <!-- Right Side -->
        <div class="col-md-9 col-lg-9">
            <!-- Alert -->
            <div class="alert alert-danger alert-dismissible text-center" role="alert"
                 ng-if="error_msg">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"> Error: </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"> &times; </span>
                </button> <b> {{ error_msg }} </b>
            </div>
            <!-- Page Header -->
            <div class="page-header">
                <h1> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Expenditures </h1>
                <!-- Sub Header -->
                <h4 class="text-muted"> Track all of your expenses here </h4>
            </div>
            <!-- Button - Add Expenditure -->
            <button type="button" class="btn btn-success" ng-click="showAddExpenditureModal()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <b> Add </b>
            </button>
            <!-- Button - Delete Expenditure -->
            <button id="delete_button" type="button" class="btn btn-danger" data-placement="right" bs-tooltip
                    title="Delete Selected" ng-class="{ 'disabled': !selected }" ng-click="showDeleteExpendituresModal()">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <b> Delete </b>
            </button>
            <!-- Line Break -->
            <br>
            <br>
            <!-- Table -->
            <table st-table="expenditure_list" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th> <input type="checkbox" ng-model="checkboxAll" ng-click="clickedAllCheckbox()"> </th>
                        <th class="text-center"> Date </th>
                        <th class="text-center"> Vendor </th>
                        <th class="text-center"> Description </th>
                        <th class="text-center"> Category </th>
                        <th class="text-center"> Amount </th>
                        <th class="text-center"> Fund </th>
                        <th class="text-center"> Notes </th>
                        <th class="text-center"> Action </th>
                    <tr>
                </thead>
                <tbody ng-repeat="expenditure in expenditure_list">
                    <tr>
                        <td> <input type="checkbox" class="checkbox"
                                    ng-model="expenditure.selected" ng-click="clickedSingleCheckbox(expenditure)">
                        </td>
                        <td class="text-center"> {{ expenditure.date | date: 'MM/dd/yyyy' }} </td>
                        <td class="text-center"> <a href ng-click=""><b> {{ expenditure.vendor }} </b></a> </td>
                        <td class="text-center"> {{ expenditure.description }} </td>
                        <td class="text-center text-info"> {{ expenditure.categories.name }} </td>
                        <td class="text-right text-danger"> {{ expenditure.amount | currency }} </td>
                        <td class="text-center"> <b> {{ expenditure.funds.name }} </b> </td>
                        <td class="text-center"> {{ expenditure.notes }} </td>
                        <td class="text-center">
                            <a href data-placement="top" bs-tooltip title="Edit" class="text-primary"
                               ng-click="clickedExpenditure(expenditure) && showEditExpenditureModal()">
                               <span class="glyphicon glyphicon-pencil glyphicon-padding" aria-hidden="true"></span>
                            </a>
                            <a href data-placement="top" bs-tooltip title="Delete" class="text-danger"
                               ng-click="clickedExpenditure(expenditure) && showSingleDeleteExpenditureModal()">
                               <span class="glyphicon glyphicon-trash glyphicon-padding" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="expenditure_list.length != 0">
                    <tr>
                        <td colspan="5"></td>
                        <td class="text-right"> <b> Total Amount Spent </b> </td>
                        <td class="text-right text-danger"> <b> {{ total_amount_spent | currency }} </b> </td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
                <tbody ng-if="expenditure_list.length == 0">
                    <tr>
                        <td colspan="1"></td>
                        <td colspan="8"> You do not have any expenditures yet. </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END -->

<!-- MODALS -->
<!-- Modal - Add Expenditure -->
<div class="container">
    <div class="modal fade" id="add_expenditure_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Add an Expenditure </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="add_expenditure_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="add_expenditure_form.$invalid && add_expenditure_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems adding your expenditure. </b>
                        </div>
                        <!-- Date Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_expenditure_form.date.$dirty &&
                                                      add_expenditure_form.date.$invalid ||
                                                      add_expenditure_form.$submitted &&
                                                      add_expenditure_form.date.$invalid,
                                         'has-feedback': add_expenditure_form.date.$dirty &&
                                                         add_expenditure_form.date.$invalid ||
                                                         add_expenditure_form.$submitted &&
                                                         add_expenditure_form.date.$invalid }">
                            <label class="control-label" for="date">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                Date of Expenditure *
                            </label>
                            <input class="form-control"
                                   name="date"
                                   type="date"
                                   placeholder="Date"
                                   ng-model="expenditure.date"
                                   required>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_expenditure_form.date.$dirty &&
                                         add_expenditure_form.date.$invalid ||
                                         add_expenditure_form.$submitted &&
                                         add_expenditure_form.date.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.date.$error"
                                 ng-if="add_expenditure_form.date.$dirty &&
                                        add_expenditure_form.date.$invalid ||
                                        add_expenditure_form.$submitted &&
                                        add_expenditure_form.date.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Vendor Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_expenditure_form.vendor.$dirty &&
                                                      add_expenditure_form.vendor.$invalid ||
                                                      add_expenditure_form.$submitted &&
                                                      add_expenditure_form.vendor.$invalid,
                                         'has-feedback': add_expenditure_form.vendor.$dirty &&
                                                         add_expenditure_form.vendor.$invalid ||
                                                         add_expenditure_form.$submitted &&
                                                         add_expenditure_form.vendor.$invalid }">
                            <label class="control-label" for="vendor"> Vendor * </label>
                            <input class="form-control"
                                   name="vendor"
                                   type="text"
                                   placeholder="Vendor"
                                   ng-model="expenditure.vendor"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_expenditure_form.vendor.$dirty &&
                                         add_expenditure_form.vendor.$invalid ||
                                         add_expenditure_form.$submitted &&
                                         add_expenditure_form.vendor.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.vendor.$error"
                                 ng-if="add_expenditure_form.vendor.$dirty &&
                                        add_expenditure_form.vendor.$invalid ||
                                        add_expenditure_form.$submitted &&
                                        add_expenditure_form.vendor.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Description Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_expenditure_form.description.$dirty &&
                                                      add_expenditure_form.description.$invalid ||
                                                      add_expenditure_form.$submitted &&
                                                      add_expenditure_form.description.$invalid,
                                         'has-feedback': add_expenditure_form.description.$dirty &&
                                                         add_expenditure_form.description.$invalid ||
                                                         add_expenditure_form.$submitted &&
                                                         add_expenditure_form.description.$invalid }">
                            <label class="control-label" for="description"> Description * </label>
                            <input class="form-control"
                                   name="description"
                                   type="text"
                                   placeholder="Description"
                                   ng-model="expenditure.description"
                                   required
                                   ng-maxlength=80>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_expenditure_form.description.$dirty &&
                                         add_expenditure_form.description.$invalid ||
                                         add_expenditure_form.$submitted &&
                                         add_expenditure_form.description.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.description.$error"
                                 ng-if="add_expenditure_form.description.$dirty &&
                                        add_expenditure_form.description.$invalid ||
                                        add_expenditure_form.$submitted &&
                                        add_expenditure_form.description.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 80 characters. </div>
                            </div>
                        </div>
                        <!-- Category Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_expenditure_form.category.$dirty &&
                                                      add_expenditure_form.category.$invalid ||
                                                      add_expenditure_form.$submitted &&
                                                      add_expenditure_form.category.$invalid,
                                         'has-feedback': add_expenditure_form.category.$dirty &&
                                                         add_expenditure_form.category.$invalid ||
                                                         add_expenditure_form.$submitted &&
                                                         add_expenditure_form.category.$invalid }">
                            <label class="control-label" for="category"> Category * </label>
                            <select class="form-control"
                                    name="category"
                                    ng-model="expenditure.category"
                                    required>
                                <option value="" disabled selected> Select a category </option>
                                <option ng-repeat="category in category_list" value="{{ category.id }}">
                                    {{ category.name }}
                                </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_expenditure_form.category.$dirty &&
                                         add_expenditure_form.category.$invalid ||
                                         add_expenditure_form.$submitted &&
                                         add_expenditure_form.category.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.category.$error"
                                 ng-if="add_expenditure_form.category.$dirty &&
                                        add_expenditure_form.category.$invalid ||
                                        add_expenditure_form.$submitted &&
                                        add_expenditure_form.category.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_expenditure_form.amount.$dirty &&
                                                      add_expenditure_form.amount.$invalid ||
                                                      add_expenditure_form.$submitted &&
                                                      add_expenditure_form.amount.$invalid,
                                         'has-feedback': add_expenditure_form.amount.$dirty &&
                                                         add_expenditure_form.amount.$invalid ||
                                                         add_expenditure_form.$submitted &&
                                                         add_expenditure_form.amount.$invalid }">
                            <label class="control-label" for="amount"> Amount * </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="expenditure.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_expenditure_form.amount.$dirty &&
                                         add_expenditure_form.amount.$invalid ||
                                         add_expenditure_form.$submitted &&
                                         add_expenditure_form.amount.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.amount.$error"
                                 ng-if="add_expenditure_form.amount.$dirty &&
                                        add_expenditure_form.amount.$invalid ||
                                        add_expenditure_form.$submitted &&
                                        add_expenditure_form.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                        <!-- Fund Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_expenditure_form.fund.$dirty &&
                                                      add_expenditure_form.fund.$invalid ||
                                                      add_expenditure_form.$submitted &&
                                                      add_expenditure_form.fund.$invalid,
                                         'has-feedback': add_expenditure_form.fund.$dirty &&
                                                         add_expenditure_form.fund.$invalid ||
                                                         add_expenditure_form.$submitted &&
                                                         add_expenditure_form.fund.$invalid }">
                            <label class="control-label" for="fund"> Fund/Loan * </label>
                            <select class="form-control"
                                    name="fund"
                                    ng-model="expenditure.fund"
                                    required>
                                <option value="" disabled selected> Select your fund </option>
                                <option ng-repeat="fund in fund_list" value="{{ fund.id }}">
                                    {{ fund.name }}
                                </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_expenditure_form.fund.$dirty &&
                                         add_expenditure_form.fund.$invalid ||
                                         add_expenditure_form.$submitted &&
                                         add_expenditure_form.fund.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.fund.$error"
                                 ng-if="add_expenditure_form.fund.$dirty &&
                                        add_expenditure_form.fund.$invalid ||
                                        add_expenditure_form.$submitted &&
                                        add_expenditure_form.fund.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Notes Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': add_expenditure_form.notes.$dirty &&
                                                      add_expenditure_form.notes.$invalid ||
                                                      add_expenditure_form.$submitted &&
                                                      add_expenditure_form.notes.$invalid,
                                         'has-feedback': add_expenditure_form.notes.$dirty &&
                                                         add_expenditure_form.notes.$invalid ||
                                                         add_expenditure_form.$submitted &&
                                                         add_expenditure_form.notes.$invalid }">
                            <label class="control-label" for="notes"> Notes </label>
                            <input class="form-control"
                                   name="notes"
                                   type="text"
                                   placeholder="Notes (Optional)"
                                   ng-model="expenditure.notes"
                                   ng-maxlength=80>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_expenditure_form.notes.$dirty &&
                                         add_expenditure_form.notes.$invalid ||
                                         add_expenditure_form.$submitted &&
                                         add_expenditure_form.notes.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.notes.$error"
                                 ng-if="add_expenditure_form.notes.$dirty &&
                                        add_expenditure_form.notes.$invalid ||
                                        add_expenditure_form.$submitted &&
                                        add_expenditure_form.notes.$invalid">
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 80 characters. </div>
                            </div>
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-success"
                                ng-click="add_expenditure_form.$valid && addExpenditure()">
                            <b> Add Expenditure </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Expenditures -->
<div class="container">
    <div class="modal fade" id="delete_expenditures_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Expenditure(s) </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="error_msg_delete">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> {{ error_msg_delete }} </b>
                    </div>
                    <p class="text-center">
                        Are you sure you would like to <b> delete </b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteExpenditures()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Single Expenditure -->
<div class="container">
    <div class="modal fade" id="delete_single_expenditure_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Expenditure </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="error_msg_delete_single">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> {{ error_msg_delete_single }} </b>
                    </div>
                    <p class="text-center">
                        Are you sure you would like to <b> delete </b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteSingleExpenditure()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Edit Expenditure -->
<div class="container">
    <div class="modal fade" id="edit_expenditure_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Edit an Expenditure </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="edit_expenditure_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="edit_expenditure_form.$invalid && edit_expenditure_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems updating your expenditure. </b>
                        </div>
                        <!-- Date Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_expenditure_form.date.$dirty &&
                                                      edit_expenditure_form.date.$invalid ||
                                                      edit_expenditure_form.$submitted &&
                                                      edit_expenditure_form.date.$invalid,
                                         'has-feedback': edit_expenditure_form.date.$dirty &&
                                                         edit_expenditure_form.date.$invalid ||
                                                         edit_expenditure_form.$submitted &&
                                                         edit_expenditure_form.date.$invalid }">
                            <label class="control-label" for="date">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                Date of Expenditure *
                            </label>
                            <input class="form-control"
                                   name="date"
                                   type="date"
                                   placeholder="Date"
                                   ng-model="updated_expenditure.date"
                                   required>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_expenditure_form.date.$dirty &&
                                         edit_expenditure_form.date.$invalid ||
                                         edit_expenditure_form.$submitted &&
                                         edit_expenditure_form.date.$invalid">
                            </span>
                            <div ng-messages="edit_expenditure_form.date.$error"
                                 ng-if="edit_expenditure_form.date.$dirty &&
                                        edit_expenditure_form.date.$invalid ||
                                        edit_expenditure_form.$submitted &&
                                        edit_expenditure_form.date.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Vendor Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_expenditure_form.vendor.$dirty &&
                                                      edit_expenditure_form.vendor.$invalid ||
                                                      edit_expenditure_form.$submitted &&
                                                      edit_expenditure_form.vendor.$invalid,
                                         'has-feedback': edit_expenditure_form.vendor.$dirty &&
                                                         edit_expenditure_form.vendor.$invalid ||
                                                         edit_expenditure_form.$submitted &&
                                                         edit_expenditure_form.vendor.$invalid }">
                            <label class="control-label" for="vendor"> Vendor * </label>
                            <input class="form-control"
                                   name="vendor"
                                   type="text"
                                   placeholder="Vendor"
                                   ng-model="updated_expenditure.vendor"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_expenditure_form.vendor.$dirty &&
                                         edit_expenditure_form.vendor.$invalid ||
                                         edit_expenditure_form.$submitted &&
                                         edit_expenditure_form.vendor.$invalid">
                            </span>
                            <div ng-messages="edit_expenditure_form.vendor.$error"
                                 ng-if="edit_expenditure_form.vendor.$dirty &&
                                        edit_expenditure_form.vendor.$invalid ||
                                        edit_expenditure_form.$submitted &&
                                        edit_expenditure_form.vendor.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Description Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_expenditure_form.description.$dirty &&
                                                      edit_expenditure_form.description.$invalid ||
                                                      edit_expenditure_form.$submitted &&
                                                      edit_expenditure_form.description.$invalid,
                                         'has-feedback': edit_expenditure_form.description.$dirty &&
                                                         edit_expenditure_form.description.$invalid ||
                                                         edit_expenditure_form.$submitted &&
                                                         edit_expenditure_form.description.$invalid }">
                            <label class="control-label" for="description"> Description * </label>
                            <input class="form-control"
                                   name="description"
                                   type="text"
                                   placeholder="Description"
                                   ng-model="updated_expenditure.description"
                                   required
                                   ng-maxlength=80>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_expenditure_form.description.$dirty &&
                                         edit_expenditure_form.description.$invalid ||
                                         edit_expenditure_form.$submitted &&
                                         edit_expenditure_form.description.$invalid">
                            </span>
                            <div ng-messages="edit_expenditure_form.description.$error"
                                 ng-if="edit_expenditure_form.description.$dirty &&
                                        edit_expenditure_form.description.$invalid ||
                                        edit_expenditure_form.$submitted &&
                                        edit_expenditure_form.description.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 80 characters. </div>
                            </div>
                        </div>
                        <!-- Category Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_expenditure_form.category.$dirty &&
                                                      edit_expenditure_form.category.$invalid ||
                                                      edit_expenditure_form.$submitted &&
                                                      edit_expenditure_form.category.$invalid,
                                         'has-feedback': edit_expenditure_form.category.$dirty &&
                                                         edit_expenditure_form.category.$invalid ||
                                                         edit_expenditure_form.$submitted &&
                                                         edit_expenditure_form.category.$invalid }">
                            <label class="control-label" for="category"> Category * </label>
                            <select class="form-control"
                                    name="category"
                                    ng-model="updated_expenditure.category"
                                    required>
                                <option value="" disabled selected> Select a category </option>
                                <option ng-repeat="category in category_list" value="{{ category.id }}">
                                    {{ category.name }}
                                </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_expenditure_form.category.$dirty &&
                                         edit_expenditure_form.category.$invalid ||
                                         edit_expenditure_form.$submitted &&
                                         edit_expenditure_form.category.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.category.$error"
                                 ng-if="edit_expenditure_form.category.$dirty &&
                                        edit_expenditure_form.category.$invalid ||
                                        edit_expenditure_form.$submitted &&
                                        edit_expenditure_form.category.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_expenditure_form.amount.$dirty &&
                                                      edit_expenditure_form.amount.$invalid ||
                                                      edit_expenditure_form.$submitted &&
                                                      edit_expenditure_form.amount.$invalid,
                                         'has-feedback': edit_expenditure_form.amount.$dirty &&
                                                         edit_expenditure_form.amount.$invalid ||
                                                         edit_expenditure_form.$submitted &&
                                                         edit_expenditure_form.amount.$invalid }">
                            <label class="control-label" for="amount"> Amount * </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="updated_expenditure.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_expenditure_form.amount.$dirty &&
                                         edit_expenditure_form.amount.$invalid ||
                                         edit_expenditure_form.$submitted &&
                                         edit_expenditure_form.amount.$invalid">
                            </span>
                            <div ng-messages="edit_expenditure_form.amount.$error"
                                 ng-if="edit_expenditure_form.amount.$dirty &&
                                        edit_expenditure_form.amount.$invalid ||
                                        edit_expenditure_form.$submitted &&
                                        edit_expenditure_form.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                        <!-- Fund Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_expenditure_form.fund.$dirty &&
                                                      edit_expenditure_form.fund.$invalid ||
                                                      edit_expenditure_form.$submitted &&
                                                      edit_expenditure_form.fund.$invalid,
                                         'has-feedback': edit_expenditure_form.fund.$dirty &&
                                                         edit_expenditure_form.fund.$invalid ||
                                                         edit_expenditure_form.$submitted &&
                                                         edit_expenditure_form.fund.$invalid }">
                            <label class="control-label" for="fund"> Fund/Loan * </label>
                            <select class="form-control"
                                    name="fund"
                                    ng-model="updated_expenditure.fund"
                                    required>
                                <option ng-repeat="fund in fund_list" value="{{ fund.id }}">
                                    {{ fund.name }}
                                </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="add_expenditure_form.fund.$dirty &&
                                         add_expenditure_form.fund.$invalid ||
                                         add_expenditure_form.$submitted &&
                                         add_expenditure_form.fund.$invalid">
                            </span>
                            <div ng-messages="add_expenditure_form.fund.$error"
                                 ng-if="add_expenditure_form.fund.$dirty &&
                                        add_expenditure_form.fund.$invalid ||
                                        add_expenditure_form.$submitted &&
                                        add_expenditure_form.fund.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Notes Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_expenditure_form.notes.$dirty &&
                                                      edit_expenditure_form.notes.$invalid ||
                                                      edit_expenditure_form.$submitted &&
                                                      edit_expenditure_form.notes.$invalid,
                                         'has-feedback': edit_expenditure_form.notes.$dirty &&
                                                         edit_expenditure_form.notes.$invalid ||
                                                         edit_expenditure_form.$submitted &&
                                                         edit_expenditure_form.notes.$invalid }">
                            <label class="control-label" for="notes"> Notes </label>
                            <input class="form-control"
                                   name="notes"
                                   type="text"
                                   placeholder="Notes"
                                   ng-model="updated_expenditure.notes"
                                   ng-maxlength=80>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_expenditure_form.notes.$dirty &&
                                         edit_expenditure_form.notes.$invalid ||
                                         edit_expenditure_form.$submitted &&
                                         edit_expenditure_form.notes.$invalid">
                            </span>
                            <div ng-messages="edit_expenditure_form.notes.$error"
                                 ng-if="edit_expenditure_form.notes.$dirty &&
                                        edit_expenditure_form.notes.$invalid ||
                                        edit_expenditure_form.$submitted &&
                                        edit_expenditure_form.notes.$invalid">
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 80 characters. </div>
                            </div>
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-primary"
                                ng-click="edit_expenditure_form.$valid && updateExpenditure()">
                            <b> Update </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
