<!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Navigation Bar Header -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Navigation Bar Brand -->
            <a class="navbar-brand" ui-sref="projects"> BuildersRecords </a>
        </div>
        <!-- Navigation Bar List Items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <b> {{ username }} </b>
                        <span class="caret"></span>
                    </a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#"> My Account </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ng-click="logOut()"> Log Out </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Alert -->
<div class="container">
    <div class="alert alert-danger alert-dismissible text-center" role="alert" ng-if="error_msg">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"> Error: </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"> &times; </span>
        </button> <b> {{ error_msg }} </b>
    </div>
</div>
<!-- Page-Header -->
<div class="container">
    <div class="page-header">
        <h1> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> My Projects </h1>
        <!-- Sub Header -->
        <h4 class="text-muted"> Home Construction </h4>
    </div>
</div>
<!-- Button -->
<div class="container">
    <button type="button" class="btn btn-success" data-placement="right" bs-tooltip
            title="Create a new project" ng-click="showNewProjectModal()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <b> New Project </b>
    </button>
</div>
<!-- Line Breaks -->
<br>
<br>
<!-- Table -->
<div class="container">
    <table st-table="project_list" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th> Projects </th>
            <tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in project_list">
                <td>
                    <div class="row">
                        <!-- Left Side -->
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <span class="glyphicon glyphicon-home glyphicon-padding" aria-hidden="true"></span>
                            <a href ng-click="clickedProject(project) && redirectToOverview()">
                                <b> {{ project.name }} </b>
                            </a>
                        </div>
                        <!-- Right Side -->
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="text-right">
                                <!-- Button - Delete Project -->
                                <button type="button" class="btn btn-danger" data-placement="top" bs-tooltip
                                        title="Delete" ng-click="clickedProject(project) && showDeleteProjectModal()">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                                <!-- Button - Edit Project -->
                                <button type="button" class="btn btn-primary" data-placement="top" bs-tooltip
                                        title="Edit" ng-click="clickedProject(project) && showEditProjectModal()">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="project_list.length == 0">
            <tr>
                <td> You do not have any projects yet. </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- END -->

<!-- MODALS -->
<!-- Modal - New Project -->
<div class="container">
    <div class="modal fade" id="new_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Create New Project </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="new_project_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="new_project_form.$invalid && new_project_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems creating your project. </b>
                        </div>
                        <!-- Project Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': new_project_form.name.$dirty &&
                                                      new_project_form.name.$invalid ||
                                                      new_project_form.$submitted &&
                                                      new_project_form.name.$invalid,
                                         'has-feedback': new_project_form.name.$dirty &&
                                                         new_project_form.name.$invalid ||
                                                         new_project_form.$submitted &&
                                                         new_project_form.name.$invalid }">
                            <label class="control-label" for="name"> Project Name </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Project Name"
                                   ng-model="project.name"
                                   required
                                   ng-maxlength=50
                                   ng-model-options="{ debounce: 500 }"
                                   project-name-exists>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="new_project_form.name.$dirty &&
                                         new_project_form.name.$invalid ||
                                         new_project_form.$submitted &&
                                         new_project_form.name.$invalid">
                            </span>
                            <div ng-messages="new_project_form.name.$error"
                                 ng-if="new_project_form.name.$dirty &&
                                        new_project_form.name.$invalid ||
                                        new_project_form.$submitted &&
                                        new_project_form.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                                <div ng-message="projectNameExists"
                                     class="help-block"> A project with this name already exists. </div>
                            </div>
                            <div ng-if="new_project_form.name.$pending">
                                <span class="help-block">
                                    Checking Project Name...
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-success"
                                ng-click="new_project_form.$valid && createProject()">
                            <b> Create Project </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Project -->
<div class="container">
    <div class="modal fade" id="delete_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Project </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="error_msg_delete">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> {{ error_msg_delete }} </b>
                    </div>
                    <p class="text-center">
                        Deleting your project is <b> irreversible </b>. Are you sure you would like to delete it?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteProject()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Edit Project -->
<div class="container">
    <div class="modal fade" id="edit_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Edit Project </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="edit_project_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="edit_project_form.$invalid && edit_project_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems updating your project. </b>
                        </div>
                        <!-- Project Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': edit_project_form.name.$dirty &&
                                                      edit_project_form.name.$invalid ||
                                                      edit_project_form.$submitted &&
                                                      edit_project_form.name.$invalid,
                                         'has-feedback': edit_project_form.name.$dirty &&
                                                         edit_project_form.name.$invalid ||
                                                         edit_project_form.$submitted &&
                                                         edit_project_form.name.$invalid }">
                            <label class="control-label" for="name"> Project Name </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Project Name"
                                   ng-model="updated_project.name"
                                   required
                                   ng-maxlength=50
                                   ng-model-options="{ debounce: 500 }"
                                   project-name-exists>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="edit_project_form.name.$dirty &&
                                         edit_project_form.name.$invalid ||
                                         edit_project_form.$submitted &&
                                         edit_project_form.name.$invalid">
                            </span>
                            <div ng-messages="edit_project_form.name.$error"
                                 ng-if="edit_project_form.name.$dirty &&
                                        edit_project_form.name.$invalid ||
                                        edit_project_form.$submitted &&
                                        edit_project_form.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                                 <div ng-message="projectNameExists"
                                      class="help-block"> A project with this name already exists. </div>
                             </div>
                             <div ng-if="edit_project_form.name.$pending">
                                 <span class="help-block">
                                     Checking Project Name...
                                 </span>
                             </div>
                         </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-primary"
                                ng-click="edit_project_form.$valid && updateProject()">
                            <b> Update Project </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
