<!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Navigation Bar Header -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Navigation Bar Brand -->
            <a class="navbar-brand" href="/projects"> BuildersRecords </a>
        </div>
        <!-- Navigation Bar List Items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Send Feedback -->
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <b> Send Feedback </b>
                    </a>
                </li>
                <!-- Help & Support -->
                <li>
                    <a href="#">
                        <b> Help & Support </b>
                    </a>
                </li>
                <!-- Dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <b> {{ username }} </b>
                        <span class="caret"></span>
                    </a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu">
                        <li><a href="#"> My Account </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ng-click="logOut()"> Log Out </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page-Header -->
<div class="container">
    <div class="page-header">
        <h1> My Projects </h1>
        <!-- Horizontal Rule -->
        <hr>
    </div>
</div>
<!-- Button -->
<div class="container">
    <button type="button" class="btn btn-success" data-toggle="modal"
            data-target="#new_project_modal" ng-click="clearFields()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <b> New Project </b>
    </button>
</div>
<!-- Line Breaks -->
<br><br>
<!-- Table -->
<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> </th>
                <th> Project Name</th>
                <th> Project Type </th>
                <th> Action </th>
            <tr>
        </thead>

        <tbody>
            <tr ng-repeat="project in projects">
                <td> {{ projects.indexOf(project) + 1 }} </td>
                <td> <a href="/dashboard"><b> {{ project.project_name }} </b></a> </td>
                <td> Testing </td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_project_modal"
                            data-toggle="tooltip" data-placement="top" title="Delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit_project_modal"
                            data-toggle="tooltip" data-placement="top" title="Edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="projects.length == 0">
            <tr>
                <td colspan="1"></td>
                <td colspan="3">
                    <a href="#"> <b> Create New Project </b> </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal - New Project -->
<div class="container">
    <div class="modal fade" id="new_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Create New Project </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="new_project_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="new_project_form.$invalid && new_project_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems creating your project. </b>
                        </div>
                        <!-- Project Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': new_project_form.project_name.$dirty &&
                                                      new_project_form.project_name.$invalid ||
                                                      new_project_form.$submitted &&
                                                      new_project_form.project_name.$invalid,
                                         'has-feedback': new_project_form.project_name.$dirty &&
                                                         new_project_form.project_name.$invalid ||
                                                         new_project_form.$submitted &&
                                                         new_project_form.project_name.$invalid }">
                            <label class="control-label" for="project_name"> Project Name </label>
                            <input class="form-control"
                                   name="project_name"
                                   type="text"
                                   placeholder="Project Name"
                                   ng-model="project_name"
                                   required
                                   ng-maxlength=50
                                   ng-model-options="{ debounce: 500 }"
                                   project-name-exists>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="new_project_form.project_name.$dirty &&
                                         new_project_form.project_name.$invalid ||
                                         new_project_form.$submitted &&
                                         new_project_form.project_name.$invalid">
                            </span>
                            <div ng-messages="new_project_form.project_name.$error"
                                 ng-if="new_project_form.project_name.$dirty &&
                                        new_project_form.project_name.$invalid ||
                                        new_project_form.$submitted &&
                                        new_project_form.project_name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                                <div ng-message="projectNameExists"
                                     class="help-block"> A project with this name already exists. </div>
                            </div>
                            <div ng-if="new_project_form.project_name.$pending">
                                <span class="help-block">
                                    Checking Project Name...
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button id="close_button" type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button type="submit" class="btn btn-success"
                                ng-click="new_project_form.$valid && createProject()">
                            <b> Create Project </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Delete Project -->
<div class="container">
    <div class="modal fade" id="delete_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Project </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="text-center">
                        Deleting your project is <b> irreversible </b>. Are you sure you would like to delete it?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> <b> No </b> </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"> <b> Yes, Delete </b> </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Edit Project -->
<div class="container">
    <div class="modal fade" id="edit_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Edit Project </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p></p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> <b> Cancel </b> </button>
                </div>
            </div>
        </div>
    </div>
</div>
