$white_color: #fff;
$blue_color: #2c3e50;
$dark_blue_color: #233140;
$font_family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

.jumbotron { background: url("../img/home.jpg") no-repeat fixed; background-size: cover; padding-top: 50px; padding-bottom: 50px; }
.jumbotron .name { display: block; color: $white_color; font-family: $font_family; font-size: 2em; font-weight: 700; }
.jumbotron .desc { color: $white_color; font-size: 1.25em; font-weight: 300; }
.features { padding-top: 20px; padding-bottom: 50px; }
@media(min-width:768px) {
    .jumbotron { padding-top: 150px; padding-bottom: 150px; }
    .jumbotron .name { font-size: 4.75em; }
    .jumbotron .desc { font-size: 1.75em; }
    .features { padding-bottom: 100px; }
}
.footer { color: $white_color; }
.footer h3 { margin-bottom: 30px; }
.footer .footer-above { padding-top: 50px; background-color: $blue_color; }
.footer .footer-col { margin-bottom: 50px; }
.footer .footer-below { padding: 25px 0; background-color: $dark_blue_color; }
#canvas-holder { width: 240px; }
.doughnut-legend li span { display: block; width: 14px; height: 14px; border-radius: 7px; float: left; margin-top: 4px; margin-right: 8px; }
.doughnut-legend { list-style: none; margin: 0; padding: 0; font-size: 14px; margin-top: 20px; }
.doughnut-legend li { margin-bottom: 4px; }
.doughnut-legend li:first-letter { text-transform: capitalize; }
.comm-how { display: inline-block; float: left; color: #979797; width: 55px; text-align: right; margin-right: 20px; }
.top_padding { padding-top: 60px; }
.padding { padding-left: 0.75em; }
li button { width: 6em; }
#logout_button { width: 6.8em; }
.glyphicon-padding { padding-right: 8px; }
