<!-- Container -->
<div class="container">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <!-- Projects -->
                <li>
                    <a ui-sref="projects">
                        <span class="glyphicon glyphicon-folder-open glyphicon-padding" aria-hidden="true"></span>
                        <b> Projects </b>
                    </a>
                </li>
                <!-- Slash -->
                <li></li>
            </ol>
            <!-- List Group -->
            <ul class="list-group">
                <!-- Overview -->
                <a ui-sref="overview" class="list-group-item active">
                    <span class="glyphicon glyphicon-stats glyphicon-padding" aria-hidden="true"></span>
                    <b> Overview </b>
                </a>
                <!-- Funds & Loans -->
                <a ui-sref="funds" class="list-group-item">
                    <span class="glyphicon glyphicon-piggy-bank glyphicon-padding" aria-hidden="true"></span>
                    <b> Funds </b>
                </a>
                <!-- Budget -->
                <a ui-sref="budget" class="list-group-item">
                    <span class="glyphicon glyphicon-usd glyphicon-padding" aria-hidden="true"></span>
                    <b> Budget </b>
                </a>
                <!-- Expenditures -->
                <a ui-sref="expenditures" class="list-group-item">
                    <span class="glyphicon glyphicon-tasks glyphicon-padding" aria-hidden="true"></span>
                    <b> Expenditures </b>
                </a>
                <!-- Subcontractors -->
                <a ui-sref="subcontractors" class="list-group-item">
                    <span class="glyphicon glyphicon-link glyphicon-padding" aria-hidden="true"></span>
                    <b> Subcontractors </b>
                </a>
            </ul>
        </div>
        <!-- Right Side -->
        <div class="col-md-9">
            <!-- Error Alert -->
            <div class="alert alert-danger alert-dismissible text-center" role="alert"
                 ng-if="error_msg_get">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"> Error: </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"> &times; </span>
                </button>
                <b> Could not access your project's information. Please refresh the page. </b>
            </div>
            <!-- Page Header -->
            <div class="page-header">
                <!-- Header -->
                <h1> Overview </h1>
                <!-- Sub Header -->
                <h4 class="text-muted">
                    {{ project.name }}
                </h4>
            </div>
            <!-- Barchart -->
            <div id="barchart-container" class="chart-size"></div>
            <!-- Line Break -->
            <br>
        </div>
    </div>
</div>
<!-- Container -->
<div class="container">
    <!-- Table -->
    <table st-table="category_list"
           class="table table-condensed table-bordered table-striped table-hover table-responsive">
        <!-- Table Header -->
        <thead>
            <tr>
                <th> </th>
                <th class="text-center"> Cost Category / Detail </th>
                <th class="text-center"> </th>
                <th class="text-center"> Estimated </th>
                <th class="text-center"> Actual </th>
                <th class="text-center"> Over/Under </th>
                <th class="text-center"> Paid </th>
                <th class="text-center"> Unpaid </th>
                <th class="text-center"> Progress </th>
                <th> </th>
            <tr>
        </thead>
        <!-- Table Body -->
        <tbody ng-repeat="category in category_list">
            <!-- Categories -->
            <tr>
                <!-- Expand Button -->
                <td>
                  <button ng-if="category.expanded" ng-click="category.expanded = false"> - </button>
                  <button ng-if="!category.expanded" ng-click="category.expanded = true"> + </button>
                </td>
                <!-- Category -->
                <td> <b> {{ category.name }} </b> </td>
                <!-- Empty -->
                <td> </td>
                <!-- Estimated -->
                <td class="text-right"> <b> {{ category.total_estimated | currency }} </b> </td>
                <!-- Actual -->
                <td class="text-right"> <b> {{ category.total_actual | currency }} </b> </td>
                <!-- Over/Under -->
                <td class="text-right" ng-class="{ 'text-danger': category.total_actual > category.total_estimated }">
                    <b> {{ category.total_actual - category.total_estimated | currency }} </b>
                </td>
                <!-- Paid -->
                <td class="text-right"> <b> {{ category.total_expenditure | currency }} </b> </td>
                <!-- Unpaid -->
                <td class="text-right" ng-class="{ 'text-danger': category.unpaid !== 0 }">
                    <b ng-if="category.unpaid"> {{ category.unpaid | currency }} </b>
                    <span ng-if="!category.unpaid" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                </td>
                <!-- Progress -->
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ category.paid }}"
                             aria-valuemin="0" aria-valuemax="100" style="width: {{ category.paid }}%;"
                             ng-class="{ 'progress-bar-success': category.paid === 100,
                                         'progress-bar-danger': category.paid !== 100 }">
                            <span class="sr-only"> {{ category.paid }}% Complete </span>
                        </div>
                    </div>
                </td>
                <!-- Progress Percentage -->
                <td class="text-right" ng-class="{ 'text-success': category.paid === 100,
                                                   'text-danger': category.paid !== 100 }">
                    <b> {{ category.paid }}% </b>
                </td>
            </tr>
            <!-- Items -->
            <tr ng-if="category.expanded" ng-repeat="item in category.items">
                <!-- Empty -->
                <td> </td>
                <!-- Name -->
                <td> {{ item.name }} </td>
                <!-- Description -->
                <td> {{ item.description }} </td>
                <!-- Estimated -->
                <td class="text-right"> {{ item.estimated | currency }} </td>
                <!-- Actual -->
                <td class="text-right"> {{ item.actual | currency }} </td>
                <!-- Over/Under -->
                <td class="text-right" ng-class="{ 'text-danger': item.actual > item.estimated }">
                    {{ item.actual - item.estimated | currency }}
                </td>
                <!-- Paid -->
                <td class="text-right"> {{ item.total_expenditure | currency }} </td>
                <!-- Unpaid -->
                <td> </td>
                <!-- Progress -->
                <td> </td>
                <!-- Progress Percentage -->
                <td> </td>
            </tr>
        </tbody>
        <!-- Empty Project -->
        <tbody>
            <tr ng-if="category_list.length == 0" class="active">
                <td> </td>
                <td colspan="9"> <b> No categories to show. </b> </td>
            </tr>
        </tbody>
        <!-- Table Footer -->
        <tfoot ng-if="category_list.length != 0">
            <tr class="footer-color">
                <!-- Empty -->
                <td colspan="2"> </td>
                <!-- Grand Total -->
                <td> <b> Grand Total </b> </td>
                <!-- Estimated -->
                <td class="text-right"> <b> {{ grand_total_estimated | currency }} </b> </td>
                <!-- Actual -->
                <td class="text-right"> <b> {{ grand_total_actual | currency }} </b> </td>
                <!-- Over/Under -->
                <td class="text-right" ng-class="{ 'text-danger': grand_total_actual > grand_total_estimated }">
                    <b> {{ grand_total_actual - grand_total_estimated | currency }} </b>
                </td>
                <!-- Paid -->
                <td class="text-right"> <b> {{ grand_total_expenditure | currency }} </b> </td>
                <!-- Empty -->
                <td colspan="3"> </td>
            </tr>
        </tfoot>
    </table>
    <!-- Line Breaks -->
    <br><br><br><br>
</div>
