<!-- This is a change -->
<!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Navigation Bar Header -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Navigation Bar Brand -->
            <a class="navbar-brand" href="/projects"> BuildersRecords </a>
        </div>
        <!-- Navigation Bar List Items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/account">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      <b ng-model="signed_user"> {{ signed_user }} </b>
                    </a>
                </li>
                <li class="padding">
                    <button id="logout_button" type="button" class="btn btn-danger navbar-btn"
                            ng-click="logOut()">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        <b> Log Out </b>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Grid System -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="Budgeting">
                    <a href="#">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Profile
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <!-- Page Header -->
                <div class="col-md-9">
                    <div class="page-header">
                        <h1> My Projects
                            <small> | Start a new project </small>
                        </h1>
                        <hr>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="col-md-3">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <b> New Project </b>
                    </button>
                </div>
            </div>
            <!-- Table -->
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> </th>
                            <th> Project Name</th>
                            <th> Project Type </th>
                            <th> Action </th>
                        <tr>
                    </thead>

                    <tbody>
                    </tbody>

                    <tbody>
                    </tbody>

                </table>
        </div>
    </div>
</div>
