<!-- Container -->
<div class="container">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
            <!-- List Group -->
            <ul class="list-group">
                <!-- Tutorial -->
                <a ui-sref="tutorial" class="list-group-item">
                    <span class="glyphicon glyphicon-book glyphicon-padding" aria-hidden="true"></span>
                    <b> Tutorial </b>
                </a>
                <!-- Projects -->
                <a ui-sref="projects" class="list-group-item active">
                    <span class="glyphicon glyphicon-folder-open glyphicon-padding" aria-hidden="true"></span>
                    <b> Projects </b>
                </a>
                <!-- Manage Account -->
                <a ui-sref="account" class="list-group-item">
                    <span class="glyphicon glyphicon-cog glyphicon-padding" aria-hidden="true"></span>
                    <b> Manage Account </b>
                </a>
                <!-- Send Feedback -->
                <a ui-sref="feedback" class="list-group-item">
                    <span class="glyphicon glyphicon-star glyphicon-padding" aria-hidden="true"></span>
                    <b> Send Feedback </b>
                </a>
            </ul>
        </div>
        <!-- Right Side -->
        <div class="col-md-9">
            <!-- Error Alert -->
            <div class="alert alert-danger alert-dismissible text-center" role="alert"
                 ng-if="error_msg_get">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"> Error: </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"> &times; </span>
                </button> <b> Could not access your projects. Please refresh your page. </b>
            </div>
            <!-- Page Header -->
            <div class="row">
                <!-- Left Side -->
                <div class="col-xs-6">
                    <!-- Header -->
                    <div class="page-header">
                        <h1> Projects </h1>
                        <!-- Sub Header -->
                        <h4 ng-show="project_list.length != 0" class="text-muted"> Select your project </h4>
                        <h4 ng-show="project_list.length == 0" class="text-muted"> Create your first project </h4>
                    </div>
                </div>
                <!-- Right Side -->
                <div class="col-xs-6">
                    <!-- Line Breaks -->
                    <br><br><br>
                    <!-- Button -->
                    <div class="text-right">
                        <button type="button" class="btn btn-success" title="Create a new project"
                                ng-click="showNewProjectModal()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            <b> New Project </b>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <table st-table="project_list" class="table table-striped table-hover table-bordered">
                <!-- Table Body -->
                <tbody>
                    <tr ng-repeat="project in project_list">
                        <td>
                            <div class="row">
                                <!-- Left Side -->
                                <div class="col-xs-9">
                                    <!-- Project Name -->
                                    <span class="glyphicon glyphicon-home glyphicon-padding"
                                          aria-hidden="true"></span>
                                    <a href ng-click="clickedProject(project)" ui-sref="overview">
                                        <b> {{ project.name }} </b>
                                    </a>
                                    <!-- Address -->
                                    <p class="text-muted">
                                        {{ project.address }} {{ project.city }},
                                        {{ project.state }} {{ project.zipcode }}
                                    </p>
                                    <!-- Square Footage -->
                                    <p class="text-muted">
                                        <i> Square Footage: {{ project.home_sq }} ft<sup>2</sup> </i>
                                    </p>
                                </div>
                                <!-- Right Side -->
                                <div class="col-xs-3">
                                    <div class="text-right">
                                        <!-- Button - Edit Project -->
                                        <button type="button" class="btn btn-primary" title="Edit"
                                                ng-click="clickedProject(project) && showEditProjectModal()">
                                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        </button>
                                        <!-- Button - Delete Project -->
                                        <button type="button" class="btn btn-danger" title="Delete"
                                                ng-click="clickedProject(project) && showDeleteProjectModal()">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- No Projects -->
                    <tr ng-show="project_list.length == 0">
                        <td> You do not have any projects yet. </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END -->

<!-- MODALS -->
<!-- Modal - New Project -->
<div class="container">
    <div class="modal fade" id="new_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <!-- Close Button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <!-- Title -->
                    <h4 class="modal-title">
                        <b> Create New Project </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="new_project_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Error Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="new_project_form.$invalid && new_project_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems creating your project. </b>
                        </div>
                        <!-- Project Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (new_project_form.name.$dirty ||
                                                      new_project_form.$submitted) &&
                                                      new_project_form.name.$invalid,
                                         'has-feedback': (new_project_form.name.$dirty ||
                                                         new_project_form.$submitted) &&
                                                         new_project_form.name.$invalid }">
                            <label class="control-label" for="name"> Project Name * </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Project Name"
                                   ng-model="project.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(new_project_form.name.$dirty ||
                                         new_project_form.$submitted) &&
                                         new_project_form.name.$invalid">
                            </span>
                            <div ng-messages="new_project_form.name.$error"
                                 ng-if="(new_project_form.name.$dirty ||
                                        new_project_form.$submitted) &&
                                        new_project_form.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Address Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (new_project_form.address.$dirty ||
                                                      new_project_form.$submitted) &&
                                                      new_project_form.address.$invalid,
                                         'has-feedback': (new_project_form.address.$dirty ||
                                                         new_project_form.$submitted) &&
                                                         new_project_form.address.$invalid }">
                            <label class="control-label" for="address"> Street Address * </label>
                            <input class="form-control"
                                   name="address"
                                   type="text"
                                   placeholder="Street Address"
                                   ng-model="project.address"
                                   required
                                   ng-maxlength=80>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(new_project_form.address.$dirty ||
                                         new_project_form.$submitted) &&
                                         new_project_form.address.$invalid">
                            </span>
                            <div ng-messages="new_project_form.address.$error"
                                 ng-if="(new_project_form.address.$dirty ||
                                        new_project_form.$submitted) &&
                                        new_project_form.address.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 80 characters. </div>
                            </div>
                        </div>
                        <!-- City Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (new_project_form.city.$dirty ||
                                                      new_project_form.$submitted) &&
                                                      new_project_form.city.$invalid,
                                         'has-feedback': (new_project_form.city.$dirty ||
                                                         new_project_form.$submitted) &&
                                                         new_project_form.city.$invalid }">
                            <label class="control-label" for="city"> City * </label>
                            <input class="form-control"
                                   name="city"
                                   type="text"
                                   placeholder="City"
                                   ng-model="project.city"
                                   required
                                   ng-maxlength=30>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(new_project_form.city.$dirty ||
                                         new_project_form.$submitted) &&
                                         new_project_form.city.$invalid">
                            </span>
                            <div ng-messages="new_project_form.city.$error"
                                 ng-if="(new_project_form.city.$dirty ||
                                        new_project_form.$submitted) &&
                                        new_project_form.city.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 30 characters. </div>
                            </div>
                        </div>
                        <!-- State Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (new_project_form.state.$dirty ||
                                                      new_project_form.$submitted) &&
                                                      new_project_form.state.$invalid,
                                         'has-feedback': (new_project_form.state.$dirty ||
                                                         new_project_form.$submitted) &&
                                                         new_project_form.state.$invalid }">
                            <label class="control-label" for="state"> State * </label>
                            <select class="form-control"
                                    name="state"
                                    ng-model="project.state"
                                    required>
                                <option value="" disabled selected> Select your state </option>
                                <option value="AL"> Alabama </option>
                                <option value="AK"> Alaska </option>
                                <option value="AZ"> Arizona </option>
                                <option value="AR"> Arkansas </option>
                                <option value="CA"> California </option>
                                <option value="CO"> Colorado </option>
                                <option value="CT"> Connecticut </option>
                                <option value="DE"> Delaware </option>
                                <option value="FL"> Florida </option>
                                <option value="GA"> Georgia </option>
                                <option value="HI"> Hawaii </option>
                                <option value="ID"> Idaho </option>
                                <option value="IL"> Illinois </option>
                                <option value="IN"> Indiana </option>
                                <option value="IA"> Iowa </option>
                                <option value="KS"> Kansas </option>
                                <option value="KY"> Kentucky </option>
                                <option value="LA"> Louisiana </option>
                                <option value="ME"> Maine </option>
                                <option value="MD"> Maryland </option>
                                <option value="MA"> Massachusetts </option>
                                <option value="MI"> Michigan </option>
                                <option value="MN"> Minnesota </option>
                                <option value="MS"> Mississippi </option>
                                <option value="MO"> Missouri </option>
                                <option value="MT"> Montana </option>
                                <option value="NE"> Nebraska </option>
                                <option value="NV"> Nevada </option>
                                <option value="NH"> New Hampshire </option>
                                <option value="NJ"> New Jersey </option>
                                <option value="NM"> New Mexico </option>
                                <option value="NY"> New York </option>
                                <option value="NC"> North Carolina </option>
                                <option value="ND"> North Dakota </option>
                                <option value="OH"> Ohio </option>
                                <option value="OK"> Oklahoma </option>
                                <option value="OR"> Oregon </option>
                                <option value="PA"> Pennsylvania </option>
                                <option value="RI"> Rhode Island </option>
                                <option value="SC"> South Carolina </option>
                                <option value="SD"> South Dakota </option>
                                <option value="TN"> Tennessee </option>
                                <option value="TX"> Texas </option>
                                <option value="UT"> Utah </option>
                                <option value="VT"> Vermont </option>
                                <option value="VA"> Virginia </option>
                                <option value="WA"> Washington </option>
                                <option value="WV"> West Virginia </option>
                                <option value="WI"> Wisconsin </option>
                                <option value="WY"> Wyoming </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(new_project_form.state.$dirty ||
                                         new_project_form.$submitted) &&
                                         new_project_form.state.$invalid">
                            </span>
                            <div ng-messages="new_project_form.state.$error"
                                 ng-if="(new_project_form.state.$dirty ||
                                        new_project_form.$submitted) &&
                                        new_project_form.state.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Zipcode Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (new_project_form.zipcode.$dirty ||
                                                      new_project_form.$submitted) &&
                                                      new_project_form.zipcode.$invalid,
                                         'has-feedback': (new_project_form.zipcode.$dirty ||
                                                         new_project_form.$submitted) &&
                                                         new_project_form.zipcode.$invalid }">
                            <label class="control-label" for="zipcode"> Zipcode * </label>
                            <input class="form-control"
                                   name="zipcode"
                                   type="text"
                                   placeholder="Zipcode"
                                   ng-model="project.zipcode"
                                   required
                                   ng-maxlength=10>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(new_project_form.zipcode.$dirty ||
                                         new_project_form.$submitted) &&
                                         new_project_form.zipcode.$invalid">
                            </span>
                            <div ng-messages="new_project_form.zipcode.$error"
                                 ng-if="(new_project_form.zipcode.$dirty ||
                                        new_project_form.$submitted) &&
                                        new_project_form.zipcode.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 10 characters. </div>
                            </div>
                        </div>
                        <!-- Home Square Footage Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (new_project_form.home_sq.$dirty ||
                                                      new_project_form.$submitted) &&
                                                      new_project_form.home_sq.$invalid,
                                         'has-feedback': (new_project_form.home_sq.$dirty ||
                                                         new_project_form.$submitted) &&
                                                         new_project_form.home_sq.$invalid }">
                            <label class="control-label" for="home_sq"> Home Square Footage * </label>
                            <div class="input-group">
                                <input class="form-control"
                                       name="home_sq"
                                       type="text"
                                       placeholder="Home Square Footage"
                                       ng-model="project.home_sq"
                                       required
                                       format="number">
                                <div class="input-group-addon"> <b> ft<sup>2</sup> </b> </div>
                            </div>
                            <div ng-messages="new_project_form.home_sq.$error"
                                 ng-if="(new_project_form.home_sq.$dirty ||
                                        new_project_form.$submitted) &&
                                        new_project_form.home_sq.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Project Type Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (new_project_form.type.$dirty ||
                                                      new_project_form.$submitted) &&
                                                      new_project_form.type.$invalid,
                                         'has-feedback': (new_project_form.type.$dirty ||
                                                         new_project_form.$submitted) &&
                                                         new_project_form.type.$invalid }">
                            <label class="control-label" for="type"> Project Type * </label>
                            <select class="form-control"
                                    name="type"
                                    ng-model="project.type"
                                    required>
                                <option value="" disabled selected> Select your option </option>
                                <option value="ubuildit"> UBuildIt </option>
                                <option value="other"> Other </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(new_project_form.type.$dirty ||
                                         new_project_form.$submitted) &&
                                         new_project_form.type.$invalid">
                            </span>
                            <div ng-messages="new_project_form.type.$error"
                                 ng-if="(new_project_form.type.$dirty ||
                                        new_project_form.$submitted) &&
                                        new_project_form.type.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- File Upload Field -->
                        <div ng-if="project.type=='ubuildit'" class="form-group">
                            <label class="control-label" for="file">
                                Would you like to upload your UBuildIt Cost Review file? (Recommended)
                            </label>
                            <input id="project_file" name="file" type="file">
                        </div>
                        <!-- Required fields -->
                        <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close Button -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit Button -->
                        <button id="create-project-btn" type="submit" class="btn btn-success"
                                data-loading-text="Creating..."
                                ng-click="new_project_form.$valid && createProject()">
                            <b> Create Project </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Project -->
<div class="container">
    <div class="modal fade" id="delete_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <!-- Close Button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <!-- Title -->
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Project </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="error_msg_delete">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> Could not delete your project. </b>
                    </div>
                    <p class="text-center">
                        Deleting your project is <b> irreversible </b>. Are you sure you would like to delete it?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <!-- Cancel Button -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <!-- Delete Button -->
                    <button id="delete-project-btn" type="button" class="btn btn-danger"
                            data-loading-text="Deleting..." ng-click="deleteProject()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Edit Project -->
<div class="container">
    <div class="modal fade" id="edit_project_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <!-- Close Button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <!-- Title -->
                    <h4 class="modal-title">
                        <b> Edit Project </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="edit_project_form" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="edit_project_form.$invalid && edit_project_form.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems updating your project. </b>
                        </div>
                        <!-- Project Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (edit_project_form.name.$dirty ||
                                                      edit_project_form.$submitted) &&
                                                      edit_project_form.name.$invalid,
                                         'has-feedback': (edit_project_form.name.$dirty ||
                                                         edit_project_form.$submitted) &&
                                                         edit_project_form.name.$invalid }">
                            <label class="control-label" for="name"> Project Name </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Project Name"
                                   ng-model="updated_project.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(edit_project_form.name.$dirty ||
                                         edit_project_form.$submitted) &&
                                         edit_project_form.name.$invalid">
                            </span>
                            <div ng-messages="edit_project_form.name.$error"
                                 ng-if="(edit_project_form.name.$dirty ||
                                        edit_project_form.$submitted) &&
                                        edit_project_form.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                             </div>
                         </div>
                         <!-- Address Field -->
                         <div class="form-group"
                              ng-class="{ 'has-error': (edit_project_form.address.$dirty ||
                                                       edit_project_form.$submitted) &&
                                                       edit_project_form.address.$invalid,
                                          'has-feedback': (edit_project_form.address.$dirty ||
                                                          edit_project_form.$submitted) &&
                                                          edit_project_form.address.$invalid }">
                             <label class="control-label" for="address"> Street Address * </label>
                             <input class="form-control"
                                    name="address"
                                    type="text"
                                    placeholder="Street Address"
                                    ng-model="updated_project.address"
                                    required
                                    ng-maxlength=80>
                             <span class="glyphicon glyphicon-remove form-control-feedback"
                                   ng-if="(edit_project_form.address.$dirty ||
                                          edit_project_form.$submitted) &&
                                          edit_project_form.address.$invalid">
                             </span>
                             <div ng-messages="edit_project_form.address.$error"
                                  ng-if="(edit_project_form.address.$dirty ||
                                         edit_project_form.$submitted) &&
                                         edit_project_form.address.$invalid">
                                 <div ng-message="required"
                                      class="help-block"> This field is required. </div>
                                 <div ng-message="maxlength"
                                      class="help-block"> This field cannot be longer than 80 characters. </div>
                             </div>
                         </div>
                         <!-- City Field -->
                         <div class="form-group"
                              ng-class="{ 'has-error': (edit_project_form.city.$dirty ||
                                                       edit_project_form.$submitted) &&
                                                       edit_project_form.city.$invalid,
                                          'has-feedback': (edit_project_form.city.$dirty ||
                                                          edit_project_form.$submitted) &&
                                                          edit_project_form.city.$invalid }">
                             <label class="control-label" for="city"> City * </label>
                             <input class="form-control"
                                    name="city"
                                    type="text"
                                    placeholder="City"
                                    ng-model="updated_project.city"
                                    required
                                    ng-maxlength=30>
                             <span class="glyphicon glyphicon-remove form-control-feedback"
                                   ng-if="(edit_project_form.city.$dirty ||
                                          edit_project_form.$submitted) &&
                                          edit_project_form.city.$invalid">
                             </span>
                             <div ng-messages="edit_project_form.city.$error"
                                  ng-if="(edit_project_form.city.$dirty ||
                                         edit_project_form.$submitted) &&
                                         edit_project_form.city.$invalid">
                                 <div ng-message="required"
                                      class="help-block"> This field is required. </div>
                                 <div ng-message="maxlength"
                                      class="help-block"> This field cannot be longer than 30 characters. </div>
                             </div>
                         </div>
                         <!-- State Field -->
                         <div class="form-group"
                              ng-class="{ 'has-error': (edit_project_form.state.$dirty ||
                                                       edit_project_form.$submitted) &&
                                                       edit_project_form.state.$invalid,
                                          'has-feedback': (edit_project_form.state.$dirty ||
                                                          edit_project_form.$submitted) &&
                                                          edit_project_form.state.$invalid }">
                             <label class="control-label" for="state"> State * </label>
                             <select class="form-control"
                                     name="state"
                                     ng-model="updated_project.state"
                                     required>
                                 <option value="" disabled selected> Select your state </option>
                                 <option value="AL"> Alabama </option>
                                 <option value="AK"> Alaska </option>
                                 <option value="AZ"> Arizona </option>
                                 <option value="AR"> Arkansas </option>
                                 <option value="CA"> California </option>
                                 <option value="CO"> Colorado </option>
                                 <option value="CT"> Connecticut </option>
                                 <option value="DE"> Delaware </option>
                                 <option value="FL"> Florida </option>
                                 <option value="GA"> Georgia </option>
                                 <option value="HI"> Hawaii </option>
                                 <option value="ID"> Idaho </option>
                                 <option value="IL"> Illinois </option>
                                 <option value="IN"> Indiana </option>
                                 <option value="IA"> Iowa </option>
                                 <option value="KS"> Kansas </option>
                                 <option value="KY"> Kentucky </option>
                                 <option value="LA"> Louisiana </option>
                                 <option value="ME"> Maine </option>
                                 <option value="MD"> Maryland </option>
                                 <option value="MA"> Massachusetts </option>
                                 <option value="MI"> Michigan </option>
                                 <option value="MN"> Minnesota </option>
                                 <option value="MS"> Mississippi </option>
                                 <option value="MO"> Missouri </option>
                                 <option value="MT"> Montana </option>
                                 <option value="NE"> Nebraska </option>
                                 <option value="NV"> Nevada </option>
                                 <option value="NH"> New Hampshire </option>
                                 <option value="NJ"> New Jersey </option>
                                 <option value="NM"> New Mexico </option>
                                 <option value="NY"> New York </option>
                                 <option value="NC"> North Carolina </option>
                                 <option value="ND"> North Dakota </option>
                                 <option value="OH"> Ohio </option>
                                 <option value="OK"> Oklahoma </option>
                                 <option value="OR"> Oregon </option>
                                 <option value="PA"> Pennsylvania </option>
                                 <option value="RI"> Rhode Island </option>
                                 <option value="SC"> South Carolina </option>
                                 <option value="SD"> South Dakota </option>
                                 <option value="TN"> Tennessee </option>
                                 <option value="TX"> Texas </option>
                                 <option value="UT"> Utah </option>
                                 <option value="VT"> Vermont </option>
                                 <option value="VA"> Virginia </option>
                                 <option value="WA"> Washington </option>
                                 <option value="WV"> West Virginia </option>
                                 <option value="WI"> Wisconsin </option>
                                 <option value="WY"> Wyoming </option>
                             </select>
                             <span class="glyphicon glyphicon-remove form-control-feedback"
                                   ng-if="(edit_project_form.state.$dirty ||
                                          edit_project_form.$submitted) &&
                                          edit_project_form.state.$invalid">
                             </span>
                             <div ng-messages="edit_project_form.state.$error"
                                  ng-if="(edit_project_form.state.$dirty ||
                                         edit_project_form.$submitted) &&
                                         edit_project_form.state.$invalid">
                                 <div ng-message="required"
                                      class="help-block"> This field is required. </div>
                             </div>
                         </div>
                         <!-- Zipcode Field -->
                         <div class="form-group"
                              ng-class="{ 'has-error': (edit_project_form.zipcode.$dirty ||
                                                       edit_project_form.$submitted) &&
                                                       edit_project_form.zipcode.$invalid,
                                          'has-feedback': (edit_project_form.zipcode.$dirty ||
                                                          edit_project_form.$submitted) &&
                                                          edit_project_form.zipcode.$invalid }">
                             <label class="control-label" for="zipcode"> Zipcode * </label>
                             <input class="form-control"
                                    name="zipcode"
                                    type="text"
                                    placeholder="Zipcode"
                                    ng-model="updated_project.zipcode"
                                    required
                                    ng-maxlength=10>
                             <span class="glyphicon glyphicon-remove form-control-feedback"
                                   ng-if="(edit_project_form.zipcode.$dirty ||
                                          edit_project_form.$submitted) &&
                                          edit_project_form.zipcode.$invalid">
                             </span>
                             <div ng-messages="edit_project_form.zipcode.$error"
                                  ng-if="(edit_project_form.zipcode.$dirty ||
                                         edit_project_form.$submitted) &&
                                         edit_project_form.zipcode.$invalid">
                                 <div ng-message="required"
                                      class="help-block"> This field is required. </div>
                                 <div ng-message="maxlength"
                                      class="help-block"> This field cannot be longer than 10 characters. </div>
                             </div>
                         </div>
                         <!-- Home Square Footage Field -->
                         <div class="form-group"
                              ng-class="{ 'has-error': (edit_project_form.home_sq.$dirty ||
                                                       edit_project_form.$submitted) &&
                                                       edit_project_form.home_sq.$invalid,
                                          'has-feedback': (edit_project_form.home_sq.$dirty ||
                                                          edit_project_form.$submitted) &&
                                                          edit_project_form.home_sq.$invalid }">
                             <label class="control-label" for="home_sq"> Home Square Footage * </label>
                             <div class="input-group">
                                 <input class="form-control"
                                        name="home_sq"
                                        type="text"
                                        placeholder="Home Square Footage"
                                        ng-model="updated_project.home_sq"
                                        required
                                        format="number">
                                 <div class="input-group-addon"> <b> ft<sup>2</sup> </b> </div>
                             </div>
                             <span class="glyphicon glyphicon-remove form-control-feedback"
                                   ng-if="(edit_project_form.home_sq.$dirty ||
                                          edit_project_form.$submitted) &&
                                          edit_project_form.home_sq.$invalid">
                             </span>
                             <div ng-messages="edit_project_form.home_sq.$error"
                                  ng-if="(edit_project_form.home_sq.$dirty ||
                                         edit_project_form.$submitted) &&
                                         edit_project_form.home_sq.$invalid">
                                 <div ng-message="required"
                                      class="help-block"> This field is required. </div>
                             </div>
                         </div>
                         <!-- Required fields -->
                         <p class="text-danger"> * Required fields </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close Button -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit Button -->
                        <button id="update-project-btn" type="submit" class="btn btn-primary"
                                data-loading-text="Savings..."
                                ng-click="edit_project_form.$valid && updateProject()">
                            <b> Save Changes </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
