<!-- Container -->
<div class="container">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-3">
            <!-- List Group -->
            <ul class="list-group">
                <!-- Projects -->
                <a ui-sref="projects" class="list-group-item">
                    <span class="glyphicon glyphicon-folder-open glyphicon-padding" aria-hidden="true"></span>
                    <b> Projects </b>
                </a>
                <!-- Manage Account -->
                <a ui-sref="account" class="list-group-item active">
                    <span class="glyphicon glyphicon-cog glyphicon-padding" aria-hidden="true"></span>
                    <b> Manage Account </b>
                </a>
                <!-- Send Feedback -->
                <a ui-sref="feedback" class="list-group-item">
                    <span class="glyphicon glyphicon-comment glyphicon-padding" aria-hidden="true"></span>
                    <b> Send Feedback </b>
                </a>
            </ul>
        </div>
        <!-- Right Side -->
        <div class="col-md-9">
            <!-- Page Header -->
            <div class="page-header">
                <h1> Manage Account </h1>
            </div>
            <!-- Tabs -->
            <ul class="nav nav-tabs">
                <!-- Account -->
                <li class="active">
                    <a ui-sref="account">
                        <span class="glyphicon glyphicon-user glyphicon-padding" aria-hidden="true"></span>
                        Account
                    </a>
                </li>
                <!-- Billing -->
                <li>
                    <a ui-sref="billing">
                        <span class="glyphicon glyphicon-credit-card glyphicon-padding" aria-hidden="true"></span>
                        Billing
                    </a>
                </li>
            </ul>
            <!-- Header -->
            <div class="page-header">
                <h3> Change Email Address </h3>
                <!-- Horizontal Rule -->
                <hr>
            </div>
            <!-- Well -->
            <div class="well">
                <!-- Alert - Error -->
                <div id="update_email_error_alert" class="alert alert-danger alert-dismissible text-center"
                     role="alert" ng-if="update_email_error">
                    <span class="glyphicon glyphicon-exclamation-sign glyphicon-padding" aria-hidden="true"></span>
                    <span class="sr-only"> Error: </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button> <b> Could not update your email address. </b>
                </div>
                <!-- Alert - Success -->
                <div id="update_email_success_alert" class="alert alert-success alert-dismissible text-center"
                     role="alert" ng-if="update_email_success">
                    <span class="glyphicon glyphicon-ok glyphicon-padding" aria-hidden="true"></span>
                    <span class="sr-only"> Error: </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button> <b> Successfully updated your email address. </b>
                </div>
                <!-- Form - Email -->
                <form class="form-horizontal" name="email_form" novalidate>
                    <!-- Email Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (email_form.email.$dirty ||
                                                  email_form.$submitted) &&
                                                  email_form.email.$invalid,
                                     'has-feedback': (email_form.email.$dirty ||
                                                     email_form.$submitted) &&
                                                     email_form.email.$invalid }">
                        <label class="col-sm-3 control-label" for="email"> Email Address </label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   name="email"
                                   type="email"
                                   placeholder="Email Address"
                                   ng-model="user.email"
                                   required
                                   ng-maxlength=50
                                   ng-model-options="{ debounce: 500 }"
                                   email-availability>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(email_form.email.$dirty ||
                                         email_form.$submitted) &&
                                         email_form.email.$invalid">
                            </span>
                            <div ng-messages="email_form.email.$error"
                                 ng-if="(email_form.email.$dirty ||
                                        email_form.$submitted) &&
                                        email_form.email.$invalid">
                                <div ng-message="required" class="help-block">
                                    This field is required.
                                </div>
                                <div ng-message="maxlength" class="help-block">
                                    This field cannot be longer than 50 characters.
                                </div>
                                <div ng-message="emailAvailability" class="help-block">
                                    This email address is already registered.
                                </div>
                            </div>
                            <div ng-if="email_form.email.$pending">
                                <span class="help-block">
                                    Checking Email...
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Update Button -->
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button id="update_email_btn" type="submit"
                                    class="btn btn-primary"
                                    data-loading-text="Updating..."
                                    ng-click="email_form.$valid && updateEmail()"> <b> Save Changes </b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Header -->
            <div class="page-header">
                <h3> Change Username </h3>
                <!-- Horizontal Rule -->
                <hr>
            </div>
            <!-- Well -->
            <div class="well">
                <!-- Alert - Error -->
                <div id="update_username_error_alert" class="alert alert-danger alert-dismissible text-center"
                     role="alert" ng-if="update_username_error">
                    <span class="glyphicon glyphicon-exclamation-sign glyphicon-padding" aria-hidden="true"></span>
                    <span class="sr-only"> Error: </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button> <b> Could not update your username. </b>
                </div>
                <!-- Alert - Success -->
                <div id="update_username_success_alert" class="alert alert-success alert-dismissible text-center"
                     role="alert" ng-if="update_username_success">
                    <span class="glyphicon glyphicon-ok glyphicon-padding" aria-hidden="true"></span>
                    <span class="sr-only"> Error: </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button> <b> Successfully updated your username. </b>
                </div>
                <!-- Form - Username -->
                <form class="form-horizontal" name="username_form" novalidate>
                    <!-- Username Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (username_form.username.$dirty ||
                                                  username_form.$submitted) &&
                                                  username_form.username.$invalid,
                                     'has-feedback': (username_form.username.$dirty ||
                                                     username_form.$submitted) &&
                                                     username_form.username.$invalid }">
                        <label class="col-sm-3 control-label" for="username"> Username </label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   name="username"
                                   type="text"
                                   placeholder="Username"
                                   ng-model="user.username"
                                   required
                                   ng-minlength=4
                                   ng-maxlength=30
                                   ng-model-options="{ debounce: 500 }"
                                   username-availability>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(username_form.username.$dirty ||
                                         username_form.$submitted) &&
                                         username_form.username.$invalid">
                            </span>
                            <div ng-messages="username_form.username.$error"
                                 ng-if="(username_form.username.$dirty ||
                                        username_form.$submitted) &&
                                        username_form.username.$invalid">
                                <div ng-message="required" class="help-block">
                                    This field is required.
                                </div>
                                <div ng-message="minlength" class="help-block">
                                    This field cannot be shorter than 4 characters.
                                </div>
                                <div ng-message="maxlength" class="help-block">
                                    This field cannot be longer than 30 characters.
                                </div>
                                <div ng-message="usernameAvailability" class="help-block">
                                    This username is not available.
                                </div>
                            </div>
                            <div ng-if="username_form.username.$pending">
                                <span class="help-block">
                                    Checking Username...
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Update Button -->
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button id="update_username_btn" type="submit"
                                    class="btn btn-primary"
                                    data-loading-text="Updating..."
                                    ng-click="username_form.$valid && updateUsername()"> <b> Save Changes </b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Header -->
            <div class="page-header">
                <h3> Change Password </h3>
                <!-- Horizontal Rule -->
                <hr>
            </div>
            <!-- Well -->
            <div class="well">
                <!-- Form - Password -->
                <form class="form-horizontal" name="password_form" novalidate>
                    <!-- Current Password Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (password_form.current_password.$dirty ||
                                                  password_form.$submitted) &&
                                                  password_form.current_password.$invalid,
                                     'has-feedback': (password_form.current_password.$dirty ||
                                                     password_form.$submitted) &&
                                                     password_form.current_password.$invalid }">
                        <label class="col-sm-3 control-label" for="current_password"> Current Password </label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   name="current_password"
                                   type="password"
                                   placeholder="Current Password"
                                   ng-model="user.current_password"
                                   required>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(password_form.current_password.$dirty ||
                                         password_form.$submitted) &&
                                         password_form.current_password.$invalid">
                            </span>
                            <div ng-messages="password_form.current_password.$error"
                                 ng-if="(password_form.current_password.$dirty ||
                                        password_form.$submitted) &&
                                        password_form.current_password.$invalid">
                                <div ng-message="required" class="help-block">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- New Password Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (password_form.new_password.$dirty ||
                                                  password_form.$submitted) &&
                                                  password_form.new_password.$invalid,
                                     'has-feedback': (password_form.new_password.$dirty ||
                                                     password_form.$submitted) &&
                                                     password_form.new_password.$invalid }">
                        <label class="col-sm-3 control-label" for="new_password"> New Password </label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   name="new_password"
                                   type="password"
                                   placeholder="New Password"
                                   ng-model="user.new_password"
                                   required>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(password_form.new_password.$dirty ||
                                         password_form.$submitted) &&
                                         password_form.new_password.$invalid">
                            </span>
                            <div ng-messages="password_form.new_password.$error"
                                 ng-if="(password_form.new_password.$dirty ||
                                        password_form.$submitted) &&
                                        password_form.new_password.$invalid">
                                <div ng-message="required" class="help-block">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Confirm New Password Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (password_form.confirm_new_password.$dirty ||
                                                  password_form.$submitted) &&
                                                  password_form.confirm_new_password.$invalid,
                                     'has-feedback': (password_form.confirm_new_password.$dirty ||
                                                     password_form.$submitted) &&
                                                     password_form.confirm_new_password.$invalid }">
                        <label class="col-sm-3 control-label" for="confirm_new_password"> Confirm New Password </label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   name="confirm_new_password"
                                   type="password"
                                   placeholder="Confirm New Password"
                                   ng-model="user.confirm_new_password"
                                   required
                                   ui-validate="'$value==user.new_password'"
                                   ui-validate-watch="'user.new_password'">
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(password_form.confirm_new_password.$dirty ||
                                         password_form.$submitted) &&
                                         password_form.confirm_new_password.$invalid">
                            </span>
                            <div ng-messages="password_form.confirm_new_password.$error"
                                 ng-if="(password_form.confirm_new_password.$dirty ||
                                        password_form.$submitted) &&
                                        password_form.confirm_new_password.$invalid">
                                <div ng-message="required" class="help-block">
                                    This field is required.
                                </div>
                                <div ng-message="validator" class="help-block">
                                    Passwords do not match.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Forgot Password -->
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <a ui-sref="forgot_password" href> <b> Forgot Password </b> </a>
                        </div>
                    </div>
                    <!-- Update Button -->
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button id="update-password-btn" type="submit" class="btn btn-primary"
                                    data-loading-text="Updating..."
                                    ng-click="password_form.$valid && updatePassword()">
                                <b> Update Password </b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Header -->
            <div class="page-header">
                <h3> Close Account </h3>
                <!-- Horizontal Rule -->
                <hr>
            </div>
            <!-- Well -->
            <div class="well">
                <!-- Form -->
                <form class="form-horizontal">
                    <!-- Close Account -->
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            <label class="text-danger"> Close Account </label>
                            <p class="help-block"> Warning: Closing your account will stop your subscription. </p>
                        </div>
                        <!-- Close Button -->
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-danger"> <b> Close Account </b> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>
