<!-- Container -->
<div class="container">
    <!-- Page Header -->
    <div class="page-header text-center">
        <h1> Sign Up </h1>
        <p class="text-muted"> <b> Already have an account? </b>
            <a ui-sref="login"> <b> Log in </b> </a>
        </p>
    </div>
    <!-- Well -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="well">
                <!-- Alert -->
                <div class="alert alert-danger alert-dismissible text-center" role="alert"
                     ng-if="signup_form.$invalid && signup_form.$submitted">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only"> Error: </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button> <b> There were problems creating your account. </b>
                </div>
                <!-- Form -->
                <form name="signup_form" novalidate>
                    <!-- Email Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (signup_form.email.$dirty ||
                                                  signup_form.$submitted) &&
                                                  signup_form.email.$invalid,
                                     'has-feedback': (signup_form.email.$dirty ||
                                                     signup_form.$submitted) &&
                                                     signup_form.email.$invalid }">
                        <label class="control-label" for="email"> Email Address </label>
                        <input class="form-control"
                               name="email"
                               type="email"
                               placeholder="Email Address"
                               ng-model="signup.email"
                               required
                               ng-maxlength=50
                               ng-model-options="{ debounce: 500 }"
                               email-availability>
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                              ng-if="(signup_form.email.$dirty ||
                                     signup_form.$submitted) &&
                                     signup_form.email.$invalid">
                        </span>
                        <div ng-messages="signup_form.email.$error"
                             ng-if="(signup_form.email.$dirty ||
                                    signup_form.$submitted) &&
                                    signup_form.email.$invalid">
                            <div ng-message="required" class="help-block">
                                This field is required.
                            </div>
                            <div ng-message="maxlength" class="help-block">
                                This field cannot be longer than 50 characters.
                            </div>
                            <div ng-message="emailAvailability" class="help-block">
                                This email is already registered.
                            </div>
                        </div>
                        <div ng-if="signup_form.email.$pending">
                            <span class="help-block">
                                Checking Email...
                            </span>
                        </div>
                    </div>
                    <!-- Username Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (signup_form.username.$dirty ||
                                                  signup_form.$submitted) &&
                                                  signup_form.username.$invalid,
                                     'has-feedback': (signup_form.username.$dirty ||
                                                     signup_form.$submitted) &&
                                                     signup_form.username.$invalid }">
                        <label class="control-label" for="username"> Username </label>
                        <input class="form-control"
                               name="username"
                               type="text"
                               placeholder="Username"
                               ng-model="signup.username"
                               required
                               ng-minlength=5
                               ng-maxlength=25
                               ng-model-options="{ debounce: 500 }"
                               username-availability>
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                              ng-if="(signup_form.username.$dirty ||
                                     signup_form.$submitted) &&
                                     signup_form.username.$invalid">
                        </span>
                        <div ng-messages="signup_form.username.$error"
                             ng-if="(signup_form.username.$dirty ||
                                    signup_form.$submitted) &&
                                    signup_form.username.$invalid">
                            <div ng-message="required" class="help-block">
                                This field is required.
                            </div>
                            <div ng-message="minlength" class="help-block">
                                This field cannot be shorter than 5 characters.
                            </div>
                            <div ng-message="maxlength" class="help-block">
                                This field cannot be longer than 25 characters.
                            </div>
                            <div ng-message="usernameAvailability" class="help-block">
                                This username is not available.
                            </div>
                        </div>
                        <div ng-if="signup_form.username.$pending">
                            <span class="help-block">
                                Checking Username...
                            </span>
                        </div>
                    </div>
                    <!-- Password Fields -->
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Password Field -->
                            <div class="form-group"
                                 ng-class="{ 'has-error': (signup_form.password.$dirty ||
                                                          signup_form.$submitted) &&
                                                          signup_form.password.$invalid,
                                             'has-feedback': (signup_form.password.$dirty ||
                                                             signup_form.$submitted) &&
                                                             signup_form.password.$invalid }">
                                <label class="control-label" for="password"> Password </label>
                                <input class="form-control"
                                       name="password"
                                       type="password"
                                       placeholder="Password"
                                       ng-model="signup.password"
                                       required
                                       ng-maxlength=40>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      ng-if="(signup_form.password.$dirty ||
                                             signup_form.$submitted) &&
                                             signup_form.password.$invalid">
                                </span>
                                <div ng-messages="signup_form.password.$error"
                                     ng-if="(signup_form.password.$dirty ||
                                            signup_form.$submitted) &&
                                            signup_form.password.$invalid">
                                    <div ng-message="required" class="help-block">
                                        This field is required.
                                    </div>
                                    <div ng-message="maxlength" class="help-block">
                                        This field cannot be longer than 40 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- Confirm Password Field -->
                            <div class="form-group"
                                 ng-class="{ 'has-error': (signup_form.confirm_password.$dirty ||
                                                          signup_form.$submitted) &&
                                                          signup_form.confirm_password.$invalid,
                                             'has-feedback': (signup_form.confirm_password.$dirty ||
                                                             signup_form.$submitted) &&
                                                             signup_form.confirm_password.$invalid }">
                                <label class="control-label" for="confirm_password"> Confirm Password </label>
                                <input class="form-control"
                                       name="confirm_password"
                                       type="password"
                                       placeholder="Confirm Password"
                                       ng-model="signup.confirm_password"
                                       required
                                       ng-maxlength=40
                                       ui-validate="'$value==signup.password'"
                                       ui-validate-watch="'signup.password'">
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      ng-if="(signup_form.confirm_password.$dirty ||
                                             signup_form.$submitted) &&
                                             signup_form.confirm_password.$invalid">
                                </span>
                                <div ng-messages="signup_form.confirm_password.$error"
                                     ng-if="(signup_form.confirm_password.$dirty ||
                                            signup_form.$submitted) &&
                                            signup_form.confirm_password.$invalid">
                                    <div ng-message="required" class="help-block">
                                        This field is required.
                                    </div>
                                    <div ng-message="maxlength" class="help-block">
                                        This field cannot be longer than 40 characters.
                                    </div>
                                    <div ng-message="validator" class="help-block">
                                        Passwords do not match.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing Choice -->
                    <div class="form-group"
                         ng-class="{ 'has-error': signup_form.sub_plan.$invalid,
                                     'has-feedback': signup_form.sub_plan.$invalid }">
                        <label class="control-label" for="sub_plan"> Pricing Choice </label>
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <input name="sub_plan"
                                       type="radio"
                                       value="monthly"
                                       ng-model="signup.sub_plan">
                                <br>
                                <span> <b> $25 / month </b> <span>
                            </div>
                            <div class="col-xs-6 text-center">
                                <input name="sub_plan"
                                       type="radio"
                                       value="yearly"
                                       ng-model="signup.sub_plan">
                                <br>
                                <span> <b> $267 / year </b> <span>
                                <br>
                                <span class="text-success"> <b> Save $33 </b> <span>
                            </div>
                        </div>
                    </div>
                    <!-- Cardholder Name Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (signup_form.card_name.$dirty ||
                                                  signup_form.$submitted) &&
                                                  signup_form.card_name.$invalid,
                                     'has-feedback': (signup_form.card_name.$dirty ||
                                                     signup_form.$submitted) &&
                                                     signup_form.card_name.$invalid }">
                        <label class="control-label" for="card_name"> Name on Card </label>
                        <input class="form-control"
                               name="card_name"
                               type="text"
                               placeholder="Cardholder Name"
                               ng-model="signup.card_name"
                               required
                               ng-minlength=2
                               ng-maxlength=50>
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                              ng-if="(signup_form.card_name.$dirty ||
                                     signup_form.$submitted) &&
                                     signup_form.card_name.$invalid">
                        </span>
                        <div ng-messages="signup_form.card_name.$error"
                             ng-if="(signup_form.card_name.$dirty ||
                                    signup_form.$submitted) &&
                                    signup_form.card_name.$invalid">
                            <div ng-message="required" class="help-block">
                                This field is required.
                            </div>
                            <div ng-message="minlength" class="help-block">
                                This field cannot be shorter than 2 characters.
                            </div>
                            <div ng-message="maxlength" class="help-block">
                                This field cannot be longer than 50 characters.
                            </div>
                        </div>
                    </div>
                    <!-- Card Number Field -->
                    <div class="form-group"
                         ng-class="{ 'has-error': (signup_form.card_number.$dirty ||
                                                  signup_form.$submitted) &&
                                                  signup_form.card_number.$invalid,
                                     'has-feedback': (signup_form.card_number.$dirty ||
                                                     signup_form.$submitted) &&
                                                     signup_form.card_number.$invalid }">
                        <label class="control-label" for="card_number"> Card Number </label>
                        <input class="form-control"
                               name="card_number"
                               type="text"
                               placeholder="16-Digit Card Number"
                               ng-model="signup.card_number"
                               required
                               ng-minlength=16
                               ng-maxlength=16>
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                              ng-if="(signup_form.card_number.$dirty ||
                                     signup_form.$submitted) &&
                                     signup_form.card_number.$invalid">
                        </span>
                        <div ng-messages="signup_form.card_number.$error"
                             ng-if="(signup_form.card_number.$dirty ||
                                    signup_form.$submitted) &&
                                    signup_form.card_number.$invalid">
                            <div ng-message="required" class="help-block">
                                This field is required.
                            </div>
                            <div ng-message="minlength" class="help-block">
                                A 16 digit card number required.
                            </div>
                            <div ng-message="maxlength" class="help-block">
                                This field cannot be longer than 16 digits.
                            </div>
                        </div>
                    </div>
                    <!-- Expiration / CVC Fields -->
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Expiration Month & Year -->
                            <div class="row">
                                <div class="col-md-7">
                                    <!-- Expiration Month Field -->
                                    <div class="form-group"
                                         ng-class="{ 'has-error': (signup_form.exp_month.$dirty ||
                                                                  signup_form.$submitted) &&
                                                                  signup_form.exp_month.$invalid,
                                                     'has-feedback': (signup_form.exp_month.$dirty ||
                                                                     signup_form.$submitted) &&
                                                                     signup_form.exp_month.$invalid }">
                                        <label class="control-label" for="exp_month"> Expiration Month </label>
                                        <select class="form-control"
                                                name="exp_month"
                                                ng-model="signup.exp_month"
                                                required>
                                            <option value="" disabled selected> Month </option>
                                            <option value="1"> 1-January </option>
                                            <option value="2"> 2-February </option>
                                            <option value="3"> 3-March </option>
                                            <option value="4"> 4-April </option>
                                            <option value="5"> 5-May </option>
                                            <option value="6"> 6-June </option>
                                            <option value="7"> 7-July </option>
                                            <option value="8"> 8-August </option>
                                            <option value="9"> 9-September </option>
                                            <option value="10"> 10-October </option>
                                            <option value="11"> 11-November </option>
                                            <option value="12"> 12-December </option>
                                        </select>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              ng-if="(signup_form.exp_month.$dirty ||
                                                     signup_form.$submitted) &&
                                                     signup_form.exp_month.$invalid">
                                        </span>
                                        <div ng-messages="signup_form.exp_month.$error"
                                             ng-if="(signup_form.exp_month.$dirty ||
                                                    signup_form.$submitted) &&
                                                    signup_form.exp_month.$invalid">
                                            <div ng-message="required" class="help-block">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <!-- Expiration Year Field -->
                                    <div class="form-group"
                                         ng-class="{ 'has-error': (signup_form.exp_year.$dirty ||
                                                                  signup_form.$submitted) &&
                                                                  signup_form.exp_year.$invalid,
                                                     'has-feedback': (signup_form.exp_year.$dirty ||
                                                                     signup_form.$submitted) &&
                                                                     signup_form.exp_year.$invalid }">
                                        <label class="control-label" for="exp_year"> Year </label>
                                        <select class="form-control"
                                                name="exp_year"
                                                ng-model="signup.exp_year"
                                                required>
                                            <option value="" disabled selected> Year </option>
                                            <option value="2016"> 2016 </option>
                                            <option value="2017"> 2017 </option>
                                            <option value="2018"> 2018 </option>
                                            <option value="2019"> 2019 </option>
                                            <option value="2020"> 2020 </option>
                                            <option value="2021"> 2021 </option>
                                            <option value="2022"> 2022 </option>
                                            <option value="2023"> 2023 </option>
                                            <option value="2024"> 2024 </option>
                                            <option value="2025"> 2025 </option>
                                            <option value="2026"> 2026 </option>
                                        </select>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              ng-if="(signup_form.exp_year.$dirty ||
                                                     signup_form.$submitted) &&
                                                     signup_form.exp_year.$invalid">
                                        </span>
                                        <div ng-messages="signup_form.exp_year.$error"
                                             ng-if="(signup_form.exp_year.$dirty ||
                                                    signup_form.$submitted) &&
                                                    signup_form.exp_year.$invalid">
                                            <div ng-message="required" class="help-block">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- CVC Field -->
                            <div class="form-group"
                                 ng-class="{ 'has-error': (signup_form.cvc.$dirty ||
                                                          signup_form.$submitted) &&
                                                          signup_form.cvc.$invalid,
                                             'has-feedback': (signup_form.cvc.$dirty ||
                                                             signup_form.$submitted) &&
                                                             signup_form.cvc.$invalid }">
                                <label class="control-label" for="cvc"> CVC </label>
                                <input class="form-control"
                                       name="cvc"
                                       type="text"
                                       placeholder="Verification Code"
                                       ng-model="signup.cvc"
                                       required
                                       ng-minlength=3
                                       ng-maxlength=4>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      ng-if="(signup_form.cvc.$dirty ||
                                             signup_form.$submitted) &&
                                             signup_form.cvc.$invalid">
                                </span>
                                <div ng-messages="signup_form.cvc.$error"
                                     ng-if="(signup_form.cvc.$dirty ||
                                            signup_form.$submitted) &&
                                            signup_form.cvc.$invalid">
                                    <div ng-message="required" class="help-block">
                                        This field is required.
                                    </div>
                                    <div ng-message="minlength" class="help-block">
                                        This field cannot be shorter than 3 digits.
                                    </div>
                                    <div ng-message="maxlength" class="help-block">
                                        This field cannot be longer than 4 digits.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agreement Checkbox -->
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="agreement"
                                       ng-model="signup.agreement"
                                       required> I agree to the
                                <a href="#"><b> Terms of Service </b></a> and the
                                <a href="#"><b> Privacy Policy</b></a>.
                                <div ng-messages="signup_form.agreement.$error"
                                     ng-if="(signup_form.agreement.$dirty ||
                                            signup_form.$submitted) &&
                                            signup_form.agreement.$invalid">
                                    <div ng-message="required"
                                         class="help-block text-danger"> Agreement is required. </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <!-- Submit -->
                    <div class="form-group text-right">
                        <button id="sign-up-btn" type="submit" class="btn btn-success btn-block"
                                data-loading-text="Processing..."
                                ng-click="signup_form.$valid && signUp()"> <b> Sign Up </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
