<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Bootstrap Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Description -->
        <meta name="description" content="BuildersRecords">
        <!-- Title -->
        <title> BuildersRecords </title>
        <!-- Favicon -->
        <link href="img/favicon.png" rel="icon">
        <!-- CSS Styles -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/theme.css" rel="stylesheet">
        <!-- Vendor JS Scripts -->
        <script src="vendor/jquery/jquery-1.11.3.min.js"></script>
        <script src="vendor/bootstrap/bootstrap.min.js"></script>
        <script src="vendor/angularjs/1.4.5/angular.min.js"></script>
        <script src="vendor/angularjs/1.4.5/angular-messages.min.js"></script>
        <script src="vendor/angular-ui/validate.min.js"></script>
        <script src="vendor/angular-ui/angular-ui-router.min.js"></script>
        <script src="vendor/angular-jwt/angular-jwt.min.js"></script>
        <script src="vendor/angular-storage/angular-storage.min.js"></script>
        <script src="vendor/smart-table/smart-table.min.js"></script>
        <!-- App JS Scripts -->
        <script src="angular/app.js"></script>
        <script src="angular/directives.js"></script>
        <script src="angular/auth.js"></script>
        <script src="angular/home/home.js"></script>
        <script src="angular/login/login.js"></script>
        <script src="angular/signup/signup.js"></script>
        <script src="angular/projects/projects.js"></script>
        <script src="angular/dashboard/dashboard.js"></script>
        <script src="angular/expenditures/expenditures.js"></script>
        <script src="angular/budgeting/budgeting.js"></script>
        <!-- Angular base url (html5Mode) -->
        <base href="/">
    </head>
    <body ng-app="app">
        <div ui-view></div>
    </body>
</html>
